build/dify_yml/machine-mary-imd-chatflow.yml
app:
  description: Machine Mary — IMD core spine (Interpret·Match·Diagnose·Resolve·Verify·Capture·Render). Advisory, one move per operator turn. Deterministic engine in Code nodes; LLM only phrases (Interpret) and voices (Render). Knowledge loaded in-context via env var.
  icon: 🔧
  icon_background: '#FFF4ED'
  icon_type: emoji
  mode: advanced-chat
  name: Machine Mary — IMD chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
kind: app
version: 0.6.0
workflow:
  rag_pipeline_variables: []
  environment_variables:
  - id: 6c180522-f358-4d48-8954-611b9887ba76
    name: knowledge_json
    value: '{"machine_id": "DMC80FD-01", "soul_version": "draft", "machine_components": [{"id": "cmp_machine_dmc80fd", "machine_id": "DMC80FD-01", "parent": null, "level": "machine", "name": "DMG MORI DMC 80 FD duoBLOCK (5-axis mill-turn)", "aliases": ["the 80", "the big 5-axis", "the duoBLOCK", "the DMG", "the DMC 80", "the big DMG"], "energy_bearing": true, "iso14224_class": "machine_tool"}, {"id": "cmp_spindle", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "component", "name": "Milling/turning spindle", "aliases": ["the spindle", "speedMASTER", "powerMASTER", "torqueMASTER motor spindle"], "energy_bearing": true, "iso14224_class": "spindle"}, {"id": "cmp_tool_clamp", "machine_id": "DMC80FD-01", "parent": "cmp_spindle", "level": "component", "name": "Spindle tool clamp / pull-in (drawbar)", "aliases": ["drawbar", "tool clamp", "pull stud / retention knob interface"], "energy_bearing": true, "iso14224_class": "tool_clamp"}, {"id": "cmp_linear_axes", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "subsystem", "name": "Linear feed axes X/Y/Z", "aliases": ["the travels", "the slides", "X-axis", "Y-axis", "Z-axis", "the axes"], "energy_bearing": true, "iso14224_class": "linear_axis"}, {"id": "cmp_b_axis", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "component", "name": "Swivel axis B (swivel head)", "aliases": ["B-axis", "swivel head", "spindle carrier", "tilt", "the head"], "energy_bearing": true, "iso14224_class": "rotary_axis"}, {"id": "cmp_c_table", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "component", "name": "Rotary table / C axis (FD DirectDrive turning table)", "aliases": ["C-axis", "DirectDrive rotary table", "the table", "the rotary table", "turning spindle"], "energy_bearing": true, "iso14224_class": "rotary_axis"}, {"id": "cmp_tool_changer", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "subsystem", "name": "Tool changer + magazine (ATC)", "aliases": ["ATC", "double-gripper changer", "magazine", "carousel", "the arm", "tool pockets", "wheel magazine"], "energy_bearing": true, "iso14224_class": "tool_changer"}, {"id": "cmp_coolant_flood", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "subsystem", "name": "Flood coolant system (KSS)", "aliases": ["coolant", "the cooler", "chiller", "coolant unit", "KSS", "flood coolant", "washdown", "the coolant tank"], "energy_bearing": true, "iso14224_class": "coolant_system", "$energy_note": "Pump is electrical/low-energy by itself, but coolant system carried energy_bearing=true per 05-safety-loto: coolant/high-pressure pumps are LOTO-controlled (unexpected pump start, high-pressure spray)."}, {"id": "cmp_coolant_tsc", "machine_id": "DMC80FD-01", "parent": "cmp_coolant_flood", "level": "component", "name": "Through-spindle coolant (TSC, high-pressure)", "aliases": ["through-tool coolant", "internal coolant", "high-pressure coolant", "TSC"], "energy_bearing": true, "iso14224_class": "coolant_system"}, {"id": "cmp_hydraulics", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "subsystem", "name": "Hydraulic power unit + accumulator", "aliases": ["hydraulics", "HPU", "accumulator"], "energy_bearing": true, "iso14224_class": "hydraulic_system"}, {"id": "cmp_safety_integrated", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "subsystem", "name": "SINUMERIK Safety Integrated (SI) / E-Stop circuit & door interlocks", "aliases": ["Safety Integrated", "SI", "safe stop", "E-Stop circuit", "the safety", "door interlock", "guard lock"], "energy_bearing": true, "iso14224_class": "safety_system"}, {"id": "cmp_operator_panel", "machine_id": "DMC80FD-01", "parent": "cmp_machine_dmc80fd", "level": "component", "name": "Operator panel / HMI (ERGOline X / CELOS, SINUMERIK Operate)", "aliases": ["the panel", "HMI", "CELOS", "ERGOline X", "the screen", "MCP", "machine control panel"], "energy_bearing": false, "iso14224_class": "control_hmi"}, {"id": "cmp_offset_screens", "machine_id": "DMC80FD-01", "parent": "cmp_operator_panel", "level": "component", "name": "Work-offset & tool-data screens (Parameter area: work offsets, tool list, magazine list)", "aliases": ["the zero page", "G54 page", "the offsets", "tool list", "tool table", "the data screen", "work offset screen", "magazine list"], "energy_bearing": false, "iso14224_class": "control_data"}, {"id": "cmp_tool_library", "machine_id": "DMC80FD-01", "parent": "cmp_operator_panel", "level": "component", "name": "Active tool library / TO unit (the loaded recipe for the job)", "aliases": ["the library", "the recipe", "the program set", "TO unit", "tool data set"], "energy_bearing": false, "iso14224_class": "control_data"}], "failure_modes": [{"id": "fm_limit_at_cycle_start", "component_ref": "cmp_linear_axes", "title": "Limit / working-area alarm at cycle start (machine won''t move)", "guardrail": false, "case_count": 0, "symptom_signature": {"conditions": [["cmp_linear_axes", "not_moving"], ["cmp_machine_dmc80fd", "cycle_start_pressed"]], "observations": ["Alarm fires the instant cycle start is pressed; machine has not moved", "Alarm text names a travel/axis (operators recall Z named)", "Often first job of the morning, after a power-down, or a new setup / Monday"], "alarm_codes": ["10620", "10621", "10630", "10631", "10720", "10721", "10730", "10731", "10203"], "operator_phrases": ["won''t run, says limit", "limit alarm, machine hasn''t even moved", "travel limit and stops", "limit on Z", "working-area alarm at cycle start", "usually 10720 or 10730"], "operational_context": {"operation": "OP20 / first part of new setup or first job after power-down", "machine_mode": "AUTO", "stopped_phase": "cycle_start_pre_motion"}}, "causes": [{"id": "cause_unreferenced_axis", "mechanism": "One or more axes not referenced/homed after power-down \u2014 control does not know position, refuses motion (cf. 10203 NC start without reference point). Reference symbols missing on the position page.", "seed_prior": 7, "case_count": 0, "last_seen": null, "action_level": "L1", "escalate_to": "none", "confirm_checks": ["chk_reference_symbols", "chk_alarm_number"], "procedures": ["proc_reference_axes"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Joe & veteran both cite unreferenced axis as the usual cause; Joe self-checks reference symbols each morning; ~monthly per operator, more shop-wide after power-downs/Mondays. High emphasis."}, {"id": "cause_wrong_work_offset", "mechanism": "Active work offset (G54 part zero) is wrong/zeroed or was bumped \u2014 first commanded position lands beyond a software or working-area limit. Distinct from tool offset (length). NOT to be silenced by widening limits.", "seed_prior": 6, "case_count": 0, "last_seen": null, "action_level": "L2", "escalate_to": "programmer", "confirm_checks": ["chk_g54_vs_traveler", "chk_alarm_number"], "procedures": ["proc_verify_work_offset", "proc_escalate_offset_programmer"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Peter: G54 part zero wrong on new setup (re-probed, ~20 min with Denver); veteran: ''someone bumped the offset.'' Every-few-weeks/operator, ~weekly shop-wide. Slightly below unreferenced-axis because that is operators'' most-cited first cause."}], "anti_pattern": "Do NOT widen the software limit or ''nudge''/eyeball an offset to make the move reach, and do not reflex reset-and-rerun (Peter and veteran both did this; Peter was stopped \u2014 re-running a wrong zero re-presents it at the part). A 10620 software-limit hit is machine protection; do not relax without engineering/AS9100 change control.", "aliases": []}, {"id": "fm_5axis_orientation_mismatch", "component_ref": "cmp_tool_library", "title": "5-axis orientation fault \u2014 head won''t go to that angle (wrong library for fixture rev)", "guardrail": false, "case_count": 0, "symptom_signature": {"conditions": [["cmp_b_axis", "not_at_commanded_angle"], ["cmp_machine_dmc80fd", "stopped_mid_program"]], "observations": ["Program runs in, then stops dead at a motion block (operators cite N490 on the OP20 bracket)", "Alarm/text: orientation not possible / can''t do that angle; head won''t tilt", "Bracket / forging-variant family; rising since the new fixture revision came in", "Library names look near-identical, differ by revision suffix (e.g. LIB-083 vs LIB-087)"], "alarm_codes": ["14100", "14101"], "operator_phrases": ["the head won''t go to that angle", "orientation not possible", "picked the bracket program and it faulted at N490", "wrong library for the fixture rev", "recipe not matching the forging", "program faults at a motion block"], "operational_context": {"operation": "OP20 bracket finish / 5-axis variant job", "block": "N490 (operator-reported instance)", "selected_library": "bracket-finish library (LIB-083 vs LIB-087 by fixture rev)", "machine_mode": "AUTO", "stopped_phase": "mid_program_orientation_block"}}, "causes": [{"id": "cause_wrong_library_fixture_rev", "mechanism": "Wrong tool library / recipe loaded for the current fixture revision \u2014 the recipe was proven against the prior fixture rev (relocated locator/clamp). Part number unchanged so nothing alarms on identity; geometry/orientation no longer fits, head cannot reach the commanded angle. Identity mismatch, not a machine fault.", "seed_prior": 8, "case_count": 0, "last_seen": null, "action_level": "L2", "escalate_to": "programmer", "confirm_checks": ["chk_library_vs_traveler", "chk_fixture_rev_tag"], "procedures": ["proc_reload_correct_library", "proc_escalate_orientation_programmer"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Co-anchored by Peter, Alex AND the veteran (veteran''s #1: ''Wrong library. Every time.''); Denver''s diagnosis on Peter''s case; few times/month, rising since new fixture rev. Highest emphasis across interviews \u2014 top provisional prior."}, {"id": "cause_transform_not_active_program", "mechanism": "Library name matches traveler but the kinematic transformation (TRAORI) the program assumed is not active/set up, or a swivel-plane/CYCLE800 orientation the running state doesn''t have \u2014 a genuine program-side problem. Operator escalates; never toggles TRAORI or edits transformation data.", "seed_prior": 3, "case_count": 0, "last_seen": null, "action_level": "L3", "escalate_to": "programmer", "confirm_checks": ["chk_library_vs_traveler"], "procedures": ["proc_escalate_orientation_programmer"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Research (03-5axis) names TRAORI not-active / CYCLE800 as the secondary class once identity matches; interviews route this to Denver (''if names line up, that''s Denver''). Lower prior \u2014 operators rarely reach it because wrong-library dominates."}], "anti_pattern": "Do NOT grab the closest-looking library off the list to keep moving (multiple operators report colleagues doing this \u2014 ''how you buy a titanium paperweight''), do not block-search into the middle of a 5-axis/transformed move to skip the stop, and do not jog a rotary axis to line it up. Veteran self-swaps without single-block on a known job \u2014 capture, do not endorse for juniors.", "aliases": []}, {"id": "fm_wrong_tool_data", "component_ref": "cmp_offset_screens", "title": "Wrong / missing tool data \u2014 tool not in magazine, length blank, or wrong length crash", "guardrail": false, "case_count": 0, "symptom_signature": {"conditions": [["cmp_offset_screens", "tool_data_mismatch"], ["cmp_tool_changer", "tool_not_resolving"]], "observations": ["Program calls a tool and stops: ''tool not in magazine'' / not available (tool in wrong pocket)", "Tool physically present but length/data blank or zero in the tool list", "No alarm but wrong depth/position, or a crash into the fixture (wrong length after a regrind)"], "alarm_codes": ["6404", "6421", "6422", "6431", "6432", "14180", "14185"], "operator_phrases": ["says tool not in magazine", "T42 wasn''t where it should be", "the length wasn''t in the table", "tool was there but the data wasn''t in the list", "wrong length, tool went right into the fixture", "didn''t check the tool data after a regrind"], "operational_context": {"operation": "tool-change block / first cut after a tool swap or regrind", "machine_mode": "AUTO", "stopped_phase": "tool_change_or_first_cut"}}, "causes": [{"id": "cause_tool_wrong_pocket", "mechanism": "Tool physically in the wrong magazine pocket vs the setup sheet (pulled for another job, returned wrong). Pure identity/location mismatch \u2014 operator can correct by matching magazine to setup sheet.", "seed_prior": 6, "case_count": 0, "last_seen": null, "action_level": "L1", "escalate_to": "none", "confirm_checks": ["chk_tool_pocket_vs_sheet", "chk_tool_length_present"], "procedures": ["proc_match_magazine_to_sheet"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Joe''s T42-in-wrong-pocket: he self-remedies this every few weeks. Operator-fixable, frequent \u2014 moderate-high prior."}, {"id": "cause_tool_length_missing_or_wrong", "mechanism": "Tool length/diameter blank, stale, or wrong in the tool table (not updated after a regrind, or transcription error). Feeds a bad number to every cut: cuts air, wrong depth, or crash into fixture. Operator must NOT invent a value \u2014 programmer/Denver measures and sets.", "seed_prior": 5, "case_count": 0, "last_seen": null, "action_level": "L3", "escalate_to": "programmer", "confirm_checks": ["chk_tool_length_present", "chk_tool_length_vs_preset"], "procedures": ["proc_escalate_tool_data"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Alex (once, length blank), veteran (crash after regrind, ''always tool data''). Veteran ranks it as a serious/crash-class item but personally rare for juniors; emphatic ''you do NOT make up a tool length.'' Mid prior."}], "anti_pattern": "Never hand-type / make up a tool length or diameter to clear the stop (''the fastest crash in the building''); never transfer wear into geometry; never pick a similar tool or renumber a pocket to dodge the alarm; do not keep cutting ''to see.''", "aliases": []}, {"id": "fm_wrong_tool_library_loaded", "component_ref": "cmp_tool_library", "title": "Wrong tool library / TO unit loaded \u2014 tool name not defined at the change block", "guardrail": false, "case_count": 0, "symptom_signature": {"conditions": [["cmp_tool_library", "wrong_library_active"], ["cmp_tool_changer", "tool_not_resolving"]], "observations": ["Control stops at the tool-change block with a ''name not defined'' type stop", "Active tool list / library on screen is not the one named on the traveler", "Among ~140 near-identically-named libraries, the wrong one is a few characters away"], "alarm_codes": ["12550"], "operator_phrases": ["name not defined", "wrong library / wrong recipe loaded", "the program set doesn''t match the traveler", "library name vs traveler doesn''t line up"], "operational_context": {"operation": "first tool-change block of the program", "selected_library": "active TO unit vs traveler-named library (case-sensitive, revision suffix)", "machine_mode": "AUTO", "stopped_phase": "tool_change_block"}}, "causes": [{"id": "cause_wrong_library_selected", "mechanism": "Operator selected the wrong tool library / TO unit for the job (picked from a pick-list of ~140 near-identical names; case-sensitive identifiers, revision suffix look-alikes). The named tool cannot resolve. Identity check (name on screen vs name on traveler) catches it before the first chip.", "seed_prior": 7, "case_count": 0, "last_seen": null, "action_level": "L2", "escalate_to": "programmer", "confirm_checks": ["chk_library_vs_traveler"], "procedures": ["proc_reload_correct_library", "proc_escalate_library_unresolved"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Distinct from the orientation fault (this surfaces at the tool-change/name-resolve stage, 12550, not a motion-block orientation stop). Grounded in 03-5axis (12550 class) + 10-tooling-library identity check; veteran/Peter library discipline. Moderate-high prior."}], "anti_pattern": "Do not pick a similar/closest tool or renumber a pocket to clear the name-not-defined stop, and do not create/edit tool entries to make the alarm go away. A name mismatch is a revision-control question for the setter/programmer/quality, not an operator edit.", "aliases": []}, {"id": "fm_protection_zone_violation", "component_ref": "cmp_machine_dmc80fd", "title": "Protection / collision-zone violation (won''t run; looks like the limit alarm)", "guardrail": false, "case_count": 0, "symptom_signature": {"conditions": [["cmp_machine_dmc80fd", "not_moving"], ["cmp_machine_dmc80fd", "zone_violation"]], "observations": ["Alarm at cycle start or on a move; text says protection zone or working area; won''t run", "Looks a lot like the limit alarm \u2014 distinguished only by the alarm number"], "alarm_codes": ["10700", "10701", "10702", "10703", "10704"], "operator_phrases": ["zone alarm", "collision zone", "says protection zone", "path through a protected area"], "operational_context": {"operation": "cycle start or mid-move", "machine_mode": "AUTO/MDA", "stopped_phase": "zone_check"}}, "causes": [{"id": "cause_program_path_through_zone", "mechanism": "Programmed/look-ahead path would enter an NCK or channel protection zone. Operator does not override the zone \u2014 reads the alarm number to separate it from a software-limit hit, then routes to programmer/maintenance. Program/setup is reviewed, retracted, corrected by the owner.", "seed_prior": 2, "case_count": 0, "last_seen": null, "action_level": "L3", "escalate_to": "programmer", "confirm_checks": ["chk_alarm_number"], "procedures": ["proc_escalate_zone"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Peter only: ''twice ever,'' last spring, ''we don''t mess with it.'' Rare; low prior. Carried as a separate mode because research flags its signature overlaps the limit alarm (different number is the discriminator)."}], "anti_pattern": "Do not override or disable the protection zone to keep running, and do not block-search past it. The zone is a collision guard; correction is the program/setup owner''s, not the operator''s.", "aliases": []}, {"id": "fm_safety_integrated_stop", "component_ref": "cmp_safety_integrated", "title": "Safety Integrated safe-stop (STOP A\u2013E / E-stop / NCK-PLC cross-check stop) \u2014 escalate, never override", "guardrail": true, "case_count": 0, "symptom_signature": {"conditions": [["cmp_safety_integrated", "safe_stop_active"], ["cmp_machine_dmc80fd", "stopped"]], "observations": ["Machine performs a safe-stop (drives ramped down / coast-stopped); alarm in the 27xxx Safety Integrated family or a 30xx emergency-stop", "Often after a door/interlock or E-stop event; cannot reset without clearing the underlying fault", "Operators treat it as a straight maintenance call (''you don''t touch those'')"], "alarm_codes": ["3000", "3001", "27001", "27020", "27021", "27022", "27023", "27024", "27090", "27091", "27092"], "operator_phrases": ["safe-stop deal", "alarm was 27-something", "door thing, the machine did its safe-stop", "E-stop latched", "it stopped hard and won''t reset"], "operational_context": {"operation": "any \u2014 safety event", "machine_mode": "any", "stopped_phase": "safe_stop"}}, "causes": [{"id": "cause_si_safe_stop", "mechanism": "A safety channel demanded a safe state \u2014 a STOP A\u2013E was triggered (alarms 27020\u201327024), an NCK\u2194PLC SI cross-check deviation stopped an axis (27090/27091/27092), a monitoring-channel error fired (27001), or an emergency stop was asserted (3000/3001, e.g. door/interlock/E-stop button). Points at the safety system itself, not a routine clear-and-rerun. Investigated by qualified maintenance, never overridden or force-reset.", "seed_prior": 1, "case_count": 0, "last_seen": null, "action_level": "L3", "escalate_to": "maintenance", "confirm_checks": ["chk_alarm_number"], "procedures": ["proc_escalate_safety"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Joe: ''once ever, straight maintenance call''; Peter: passing mention. Rare; lowest-but-present prior. guardrail=true forces escalate-always regardless of frequency. Codes grounded verbatim in 840Dsl_alarms_diagnostics_2019 (27020 ''stop E triggered'' \u2026 27024 ''stop A triggered''; 27090/27091/27092 NCK-PLC data cross-check; 27001 monitoring channel; 3000/3001 emergency stop)."}], "anti_pattern": "Never override, suppress, or force-reset a Safety Integrated / 27xxx safe stop or a 30xx E-stop to keep running; never treat E-stop/RESET/mode-switch as a lockout; never bypass or ''trick'' a door interlock or light curtain. A safe stop is investigated, not cleared.", "aliases": []}, {"id": "fm_si_not_safely_referenced", "component_ref": "cmp_safety_integrated", "title": "Safety Integrated: axis not safely referenced (safe cams/SI homing not established) \u2014 escalate, never override", "guardrail": true, "case_count": 0, "symptom_signature": {"conditions": [["cmp_safety_integrated", "not_safely_referenced"], ["cmp_machine_dmc80fd", "stopped"]], "observations": ["27xxx alarm states an axis (or ''at least one axis'') is NOT safely referenced \u2014 distinct from the ordinary NC reference symbol", "Safe position-dependent functions (safe end position / safe cams) will not run until SI re-referencing is established", "Operators must not ''reference past it'' with an ordinary homing trick \u2014 SI referencing is a maintenance/commissioning function"], "alarm_codes": ["27000", "27100"], "operator_phrases": ["says safely referenced, not the normal reference thing", "27-something about referencing", "won''t take the safe positions", "it''s a safety reference one"], "operational_context": {"operation": "after power-up / SI startup, or after an encoder/hardware event", "machine_mode": "any", "stopped_phase": "si_reference_check"}}, "causes": [{"id": "cause_si_not_safely_referenced", "mechanism": "Safety Integrated does not have a valid safe reference for an axis (27000 ''Axis is not safely referenced'' / 27100 ''At least one axis is not safely referenced''). Safe position-monitoring (safe end position, safe cams) cannot be guaranteed. SI re-referencing / user agreement is a qualified maintenance/commissioning task \u2014 NOT the ordinary JOG-REF the operator does each morning, and NOT something the operator force-clears.", "seed_prior": 1, "case_count": 0, "last_seen": null, "action_level": "L3", "escalate_to": "maintenance", "confirm_checks": ["chk_alarm_number"], "procedures": ["proc_escalate_safety"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. No operator named this specifically; carried as a distinct SI mode because the manuals (840Dsl_alarms_diagnostics_2019: 27000 ''Axis %1 is not safely referenced'', 27100 ''At least one axis is not safely referenced'') describe a safety-referencing failure that LOOKS like an ordinary unreferenced-axis limit alarm but is escalate-only. Discriminator is the alarm number. Lowest prior; guardrail=true."}], "anti_pattern": "Do NOT treat a 27000/27100 ''not safely referenced'' as the ordinary morning JOG-REF homing \u2014 it is a Safety Integrated reference, re-established only by qualified maintenance/commissioning. Never force-clear it or suppress the SI alarm to keep running.", "aliases": []}, {"id": "fm_si_motion_monitoring_violation", "component_ref": "cmp_safety_integrated", "title": "Safety Integrated: safe-motion limit exceeded (SOS / safe standstill / safe velocity / safe end position) \u2014 escalate, never override", "guardrail": true, "case_count": 0, "symptom_signature": {"conditions": [["cmp_safety_integrated", "safe_limit_exceeded"], ["cmp_machine_dmc80fd", "stopped"]], "observations": ["27xxx alarm says a safe limit was exceeded: safe standstill tolerance, safe velocity, safe end position, or a safe-operational-stop (SOS) NCK/drive difference", "The drive has tripped a safe reaction; the move that exceeded the safe envelope is the thing to investigate", "Operators record the number and call maintenance \u2014 never widen a safe limit"], "alarm_codes": ["27010", "27011", "27012", "27013", "27101", "27102"], "operator_phrases": ["safe speed / safe standstill thing", "27-something, it moved when it shouldn''t have", "safe limit exceeded", "an SOS alarm"], "operational_context": {"operation": "setup/handling with a safe function active, or a safe-stop condition during motion", "machine_mode": "any", "stopped_phase": "si_motion_monitor"}}, "causes": [{"id": "cause_si_safe_limit_exceeded", "mechanism": "A Safety Integrated motion monitor detected the axis outside its safe envelope: safe standstill tolerance exceeded (27010), safe velocity exceeded (27011), safe end position exceeded (27012), safe acceleration monitoring exceeded (27013), or an NCK\u2194drive difference in safe-operational-stop / safe-velocity (27101/27102). The cause is a genuine deviation from the parameterized safe behaviour (mechanics, parameterization, or a real over-travel/over-speed) \u2014 diagnosed by qualified maintenance. The operator never widens a safe limit or suppresses the monitor.", "seed_prior": 1, "case_count": 0, "last_seen": null, "action_level": "L3", "escalate_to": "maintenance", "confirm_checks": ["chk_alarm_number"], "procedures": ["proc_escalate_safety"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. No operator named these; carried because the manuals (840Dsl_alarms_diagnostics_2019: 27010 ''tolerance for safe standstill exceeded'', 27011 ''safe velocity exceeded'', 27012 ''safe end position exceeded'', 27013 ''Safe monitoring for acceleration exceeded'', 27101/27102 SOS/safe-velocity NCK-vs-drive difference) describe the SI motion-monitoring class distinctly from the safe-stop class. Lowest prior; guardrail=true."}], "anti_pattern": "Never widen, raise, or disable a safe standstill / safe velocity / safe end-position limit to clear a 27010\u201327013 / 27101 / 27102 alarm. These are safety envelopes; a violation is investigated by maintenance, not relaxed.", "aliases": []}, {"id": "fm_si_checksum_acceptance", "component_ref": "cmp_safety_integrated", "title": "Safety Integrated: SI checksum / hardware-change \u2014 confirmation & acceptance test required \u2014 escalate, never override", "guardrail": true, "case_count": 0, "symptom_signature": {"conditions": [["cmp_safety_integrated", "checksum_or_hw_change"], ["cmp_machine_dmc80fd", "stopped"]], "observations": ["27xxx alarm text explicitly says ''checksum error'' and/or ''confirmation and acceptance test required'', or ''new hardware component''", "Indicates the SI safety configuration changed/diverged \u2014 a formal acceptance test (and sign-off) is required before safe operation resumes", "Strictly a qualified-personnel acceptance-test event; never acknowledged-away by an operator"], "alarm_codes": ["27003", "27032", "27035", "27060", "27093"], "operator_phrases": ["checksum / acceptance test thing", "27-something, wants an acceptance test", "says new hardware, confirm and test", "the safety needs re-accepting"], "operational_context": {"operation": "after a parameter/firmware/hardware change to the drive or SI configuration", "machine_mode": "any", "stopped_phase": "si_checksum_acceptance"}}, "causes": [{"id": "cause_si_checksum_acceptance", "mechanism": "The Safety Integrated configuration changed or its checksum no longer matches the accepted reference: 27003 ''Checksum error found'', 27032 ''checksum error of safe monitoring. Confirmation and acceptance test required'', 27035 ''new hardware component, confirmation and functional test required'', 27060 ''Drive assignment checksum error. Confirmation and acceptance test required'', 27093 ''Checksum error NCK-SPL''. Resolution is a formal SI confirmation + acceptance test by qualified personnel (and AS9100 documented sign-off) \u2014 never an operator acknowledgement.", "seed_prior": 1, "case_count": 0, "last_seen": null, "action_level": "L3", "escalate_to": "maintenance", "confirm_checks": ["chk_alarm_number"], "procedures": ["proc_escalate_safety"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. No operator named these; carried because the manuals (840Dsl_alarms_diagnostics_2019) describe an SI checksum / hardware-change / acceptance-test class distinct from the run-time safe-stop and motion-monitoring classes. Lowest prior; guardrail=true. These specifically require a documented acceptance test, which is AS9100-relevant."}], "anti_pattern": "Never ''acknowledge away'' or force-clear a 27003/27032/27035/27060/27093 SI checksum / hardware-change alarm. These require a formal Safety Integrated acceptance test and sign-off by qualified personnel; an operator clear is never the answer.", "aliases": []}, {"id": "fm_oem_magazine_fault", "component_ref": "cmp_tool_changer", "title": "OEM builder-band (7xxxxx) tool-changer fault \u2014 defer to DMG MORI", "guardrail": false, "case_count": 0, "symptom_signature": {"conditions": [["cmp_tool_changer", "abort"], ["cmp_machine_dmc80fd", "stopped"]], "observations": ["Tool change aborts mid-cycle; gripper/arm did not retract", "A ''big-number'' alarm in the 700,000 range \u2014 not the normal Siemens kind", "Sometimes the OEM text mentions a door or a filter; operators record the number and call maintenance"], "alarm_codes": ["<7xxxxx \u2014 DMG MORI builder band; meaning machine-specific; defer to DMG MORI docs / on-control text>"], "operator_phrases": ["the arm didn''t retract", "seven-hundred-thousand-something", "big-number alarm, not the normal Siemens kind", "I write the number down and call maintenance"], "operational_context": {"operation": "tool change", "machine_mode": "AUTO", "stopped_phase": "tool_change_abort"}}, "causes": [{"id": "cause_oem_builder_alarm", "mechanism": "A DMG MORI machine-builder PLC user alarm (700000-799999 band) \u2014 its meaning is NOT in Siemens documentation. Number-to-cause mapping is DMG MORI''s to define. Read back the on-control OEM text and the visible clear/cancel symbol (those are trustworthy), record the number, and defer; never guess a cause or clearing action.", "seed_prior": 4, "case_count": 0, "last_seen": null, "action_level": "L3", "escalate_to": "maintenance", "confirm_checks": ["chk_oem_alarm_text", "chk_alarm_number"], "procedures": ["proc_defer_oem_alarm"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Joe: a couple times a quarter, last late Apr/early May, and the single biggest TIME cost (waits on maintenance, up to most of a shift) even though not the most frequent. Mid prior reflecting moderate frequency + high downtime weight."}], "anti_pattern": "Never invent a cause, parameter meaning, or clearing action for a 7xxxxx number; never clear an unknown changer alarm with the spindle right there. The number maps to DMG MORI''s docs only.", "aliases": []}, {"id": "fm_coolant_concentration_low", "component_ref": "cmp_coolant_flood", "title": "Coolant off-mix / low concentration \u2014 finish degrades and tools die (no alarm)", "guardrail": false, "case_count": 0, "symptom_signature": {"conditions": [["cmp_coolant_flood", "off_mix"], ["cmp_machine_dmc80fd", "running"]], "observations": ["No alarm \u2014 machine is mechanically happy", "Surface finish degrades through a long titanium run; tools wear/die fast (swapping too often)", "Coolant smells off; rusty films starting on the worktable/fixture area"], "alarm_codes": [], "operator_phrases": ["finish is going off and tools die fast", "the coolant smells a bit off", "rusty films on the table", "coolant gets weak, watered down"], "operational_context": {"operation": "long titanium run (e.g. long bracket run)", "cut_type": "finishing / roughing on titanium", "machine_mode": "AUTO", "stopped_phase": "running_no_stop"}}, "causes": [{"id": "cause_coolant_low_concentration", "mechanism": "Coolant concentration has drifted below the product PDS band (top-ups with water, evaporation, tramp oil). Weak lubrication/heat control on low-thermal-conductivity titanium \u2192 edge burn, work-hardening, short tool life, poor finish, corrosion films. Soft failure with no alarm.", "seed_prior": 5, "case_count": 0, "last_seen": null, "action_level": "L1", "escalate_to": "none", "confirm_checks": ["chk_coolant_refractometer", "chk_coolant_condition"], "procedures": ["proc_check_correct_coolant_concentration"], "$seed_prior_basis": "PROVISIONAL \u2014 not SME-elicited. Alex''s #2, a few times/month on long runs, last 2026-06-09 (rust film). ''Sneaky'' but machine keeps running. Mid prior \u2014 frequent but low-severity-per-event; the source seed row ir_2026_0611_alex_02."}], "anti_pattern": "Do not ''just add more coolant'' / top up blindly without measuring on the refractometer (Alex''s unmeasured top-up \u2014 captured, not endorsed); do not chase one reading; do not run titanium cuts dry; do not add water to concentrate (use ''oil in last'', pre-mixed).", "aliases": ["coolant weak", "watered-down coolant", "off-mix coolant", "milky coolant"]}, {"id": "fm_chatter", "component_ref": "cmp_spindle", "title": "Chatter / vibration - poor surface finish (no alarm)", "guardrail": false, "case_count": 0, "aliases": ["chatter", "vibration marks", "singing", "humming cut", "rough finish"], "symptom_signature": {"conditions": [["cmp_spindle", "running"]], "observations": ["No alarm - machine is mechanically fine", "Poor / rough surface finish, visible chatter marks", "Audible chatter or vibration during the cut"], "alarm_codes": [], "operator_phrases": ["bad finish", "surface looks rough", "it''s chattering", "vibration on the cut", "finish has gone rough"], "operational_context": {"operation": "finishing pass", "cut_type": "finishing", "machine_mode": "AUTO", "stopped_phase": "running_no_stop"}}, "causes": [{"id": "cause_worn_insert", "mechanism": "Worn or chipped cutting edge raises cutting forces and excites vibration; finish degrades, chatter marks appear. No alarm.", "seed_prior": 7, "case_count": 0, "last_seen": null, "action_level": "L1", "escalate_to": "none", "confirm_checks": ["chk_insert_edge"], "procedures": ["proc_swap_insert"], "$seed_prior_basis": "PROVISIONAL - demo mode; worn insert is the usual first suspect for chatter."}], "anti_pattern": "Do not just slow the feed/speed to ''mask'' chatter without checking the insert - a worn edge keeps degrading and can break."}], "checks": [{"id": "chk_alarm_number", "ask": "Read me the alarm NUMBER on the Diagnosis screen exactly (digits, including any leading band), not just the words.", "observation_type": "control_panel", "answers": ["10620/10621 or 10720/10721 (software limit)", "10730/10731 (working area)", "10203 (no reference)", "10700-10704 (protection zone)", "3000/3001 or 27020-27024 or 27090-27092 or 27001 (safe-stop / E-stop)", "27000/27100 (SI not safely referenced)", "27010-27013 or 27101/27102 (SI safe-motion limit)", "27003/27032/27035/27060/27093 (SI checksum / acceptance test)", "7xxxxx (OEM/DMG MORI)", "other / unsure"], "cost": {"time_min": 1, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_unreferenced_axis": "10203 (no reference)", "cause_wrong_work_offset": "10620/10621 or 10720/10721 (software limit)", "cause_program_path_through_zone": "10700-10704 (protection zone)", "cause_si_safe_stop": "3000/3001 or 27020-27024 or 27090-27092 or 27001 (safe-stop / E-stop)", "cause_si_not_safely_referenced": "27000/27100 (SI not safely referenced)", "cause_si_safe_limit_exceeded": "27010-27013 or 27101/27102 (SI safe-motion limit)", "cause_si_checksum_acceptance": "27003/27032/27035/27060/27093 (SI checksum / acceptance test)", "cause_oem_builder_alarm": "7xxxxx (OEM/DMG MORI)"}, "source_ref": null}, {"id": "chk_reference_symbols", "ask": "On the position page, does every axis show its reference/homed symbol, or is the little symbol missing on one or more slides?", "observation_type": "control_panel", "answers": ["all axes referenced", "one or more missing the symbol"], "cost": {"time_min": 2, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_unreferenced_axis": "one or more missing the symbol"}, "source_ref": null}, {"id": "chk_g54_vs_traveler", "ask": "On the Work Offset screen, does the ACTIVE work offset (e.g. G54) part-zero match the value/datum on the traveler/setup sheet? (Work offset = where the part is, NOT tool length.)", "observation_type": "control_panel", "answers": ["matches the sheet", "does not match / looks bumped or zeroed"], "cost": {"time_min": 3, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_wrong_work_offset": "does not match / looks bumped or zeroed"}, "source_ref": null}, {"id": "chk_library_vs_traveler", "ask": "Read the tool-library/recipe name on the screen and the library name on the traveler character-for-character (case-sensitive, watch the revision suffix). Do they match exactly?", "observation_type": "control_panel", "answers": ["names match exactly", "names differ (e.g. revision suffix)"], "cost": {"time_min": 3, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_wrong_library_fixture_rev": "names differ (e.g. revision suffix)", "cause_transform_not_active_program": "names match exactly", "cause_wrong_library_selected": "names differ (e.g. revision suffix)"}, "source_ref": null}, {"id": "chk_fixture_rev_tag", "ask": "Does the revision stamped/tagged on the physical fixture match the fixture revision on the traveler?", "observation_type": "visual", "answers": ["fixture rev matches traveler", "fixture rev differs from traveler"], "cost": {"time_min": 3, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_wrong_library_fixture_rev": "fixture rev differs from traveler"}, "source_ref": null}, {"id": "chk_tool_pocket_vs_sheet", "ask": "On the Magazine list, is the called tool sitting in the pocket the setup sheet assigns it (e.g. T42 in pocket 12)?", "observation_type": "control_panel", "answers": ["in the assigned pocket", "in the wrong pocket"], "cost": {"time_min": 3, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_tool_wrong_pocket": "in the wrong pocket"}, "source_ref": null}, {"id": "chk_tool_length_present", "ask": "On the Tool list / Tool Offset screen, is a length/diameter value actually present for the called tool, or is it blank/zero?", "observation_type": "control_panel", "answers": ["length/diameter present", "blank or zero"], "cost": {"time_min": 2, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_tool_length_missing_or_wrong": "blank or zero", "cause_tool_wrong_pocket": "length/diameter present"}, "source_ref": null}, {"id": "chk_tool_length_vs_preset", "ask": "Compare the tool''s length/diameter on the Tool Offset screen against the preset/touch-off sheet for THIS tool (especially after a regrind). Do they agree?", "observation_type": "control_panel", "answers": ["matches the preset sheet", "does not match the preset sheet"], "cost": {"time_min": 4, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_tool_length_missing_or_wrong": "does not match the preset sheet"}, "source_ref": null}, {"id": "chk_oem_alarm_text", "ask": "Read back the on-screen OEM alarm TEXT and the visible clear/cancel symbol exactly as shown (do not interpret the number).", "observation_type": "control_panel", "answers": ["text + clear symbol recorded", "screen unreadable / no text"], "cost": {"time_min": 2, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_oem_builder_alarm": "text + clear symbol recorded"}, "source_ref": null}, {"id": "chk_coolant_refractometer", "ask": "Using the refractometer (zeroed on clean water), sample from the delivery nozzle and read Brix; multiply by the product PDS factor. Is the concentration within the PDS band?", "observation_type": "visual", "answers": ["within PDS band", "below band (too low)", "above band (too high)"], "cost": {"time_min": 5, "skill": "operator", "machine_state": "running_or_idle"}, "safety_gate": {"type": "caution", "require": "nitrile gloves + eye protection; sample at nozzle not stagnant sump"}, "discriminates": {"cause_coolant_low_concentration": "below band (too low)"}, "source_ref": null}, {"id": "chk_coolant_condition", "ask": "Look/smell the coolant: clean smell, no thick tramp-oil layer/scum/foam? Any rust films on parts/ways/worktable?", "observation_type": "visual", "answers": ["clean, no films", "off smell / tramp oil / rust films"], "cost": {"time_min": 2, "skill": "operator", "machine_state": "running_or_idle"}, "safety_gate": null, "discriminates": {"cause_coolant_low_concentration": "off smell / tramp oil / rust films"}, "source_ref": null}, {"id": "chk_insert_edge", "ask": "Pull the insert and look at the cutting edge - is it chipped/worn, or still sharp?", "observation_type": "visual", "answers": ["chipped or worn", "sharp / fine"], "cost": {"time_min": 2, "skill": "operator", "machine_state": "stopped"}, "safety_gate": null, "discriminates": {"cause_worn_insert": "chipped or worn"}, "source_ref": null}], "procedures": [{"id": "proc_reference_axes", "kind": "operator_fix", "resolves": {"failure_mode": "fm_limit_at_cycle_start", "causes": ["cause_unreferenced_axis"]}, "preliminary": {"safety": [{"type": "machine_state", "require": "work zone clear; know head/table/tool position before any motion", "ref": "warn_known_position"}], "tools": [], "skill": "operator", "est_min": 10}, "steps": ["stp_confirm_zone_clear", "stp_select_ref_mode", "stp_reference_axes", "stp_verify_ref_symbols"], "closeout": {"verify": "All axes show the reference symbol; program runs past cycle start without the limit/no-reference alarm.", "on_verify_fail": "If it still alarms with axes referenced, check the work offset (proc_verify_work_offset) or escalate to Denver/programmer.", "restore": ["return to AUTO", "reload job"], "capture": ["alarm number seen", "which axes were unreferenced"]}, "handoff": null, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_verify_work_offset", "kind": "operator_fix", "resolves": {"failure_mode": "fm_limit_at_cycle_start", "causes": ["cause_wrong_work_offset"]}, "preliminary": {"safety": [{"type": "caution", "require": "do NOT widen the software limit or eyeball/nudge the offset to make the move reach", "ref": "warn_no_widen_limit"}], "tools": ["traveler/setup sheet"], "skill": "operator", "est_min": 5}, "steps": ["stp_open_work_offset", "stp_compare_g54_sheet"], "closeout": {"verify": "Active G54 part zero matches the setup sheet datum.", "on_verify_fail": "If G54 matches the sheet but it still alarms, it may be the program \u2014 escalate to programmer (proc_escalate_offset_programmer). Do not reset-and-rerun.", "restore": [], "capture": ["G54 value-vs-sheet result"]}, "handoff": null, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_escalate_offset_programmer", "kind": "escalate", "resolves": {"failure_mode": "fm_limit_at_cycle_start", "causes": ["cause_wrong_work_offset"]}, "steps": [], "handoff": {"action": "Escalate to programmer (Denver): G54 matches the sheet but the limit alarm persists \u2014 possible program-side offset/frame issue. Operator does not edit the program.", "escalate_to": "programmer", "capture_fields": ["alarm number", "active G54 vs sheet", "program name", "operation"]}, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_reload_correct_library", "kind": "operator_fix", "resolves": {"failure_mode": "fm_5axis_orientation_mismatch", "causes": ["cause_wrong_library_fixture_rev", "cause_wrong_library_selected"]}, "preliminary": {"safety": [{"type": "caution", "require": "do NOT grab the closest-looking library; identity (name) check only, no content/tool-data edits", "ref": "warn_no_closest_library"}], "tools": ["traveler/setup sheet"], "skill": "operator", "est_min": 15}, "steps": ["stp_read_traveler_library", "stp_load_correct_library", "stp_proveout_slow"], "closeout": {"verify": "Loaded library name matches the traveler (incl. revision suffix); program proves out past the orientation block.", "on_verify_fail": "If names match and it still faults at the orientation block, escalate to programmer (proc_escalate_orientation_programmer).", "restore": ["return to start of program / sanctioned restart point"], "capture": ["library name loaded", "fixture rev", "fault block (e.g. N490)"]}, "handoff": null, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_escalate_orientation_programmer", "kind": "escalate", "resolves": {"failure_mode": "fm_5axis_orientation_mismatch", "causes": ["cause_transform_not_active_program"]}, "steps": [], "handoff": {"action": "Escalate to programmer (Denver): library name matches the traveler but the 5-axis orientation block still faults \u2014 possible TRAORI/CYCLE800 transform-not-active or program issue. Operator never toggles TRAORI or edits transformation data.", "escalate_to": "programmer", "capture_fields": ["alarm number/text", "fault block", "library name", "fixture rev", "operation"]}, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_match_magazine_to_sheet", "kind": "operator_fix", "resolves": {"failure_mode": "fm_wrong_tool_data", "causes": ["cause_tool_wrong_pocket"]}, "preliminary": {"safety": [{"type": "machine_state", "require": "spindle stopped; tool changer at rest before handling pockets", "ref": "warn_known_position"}], "tools": ["setup sheet"], "skill": "operator", "est_min": 5}, "steps": ["stp_compare_pocket_sheet", "stp_return_tool_to_pocket"], "closeout": {"verify": "Called tool sits in the setup-sheet pocket; program resolves the tool and runs.", "on_verify_fail": "If the tool is truly missing or its data is blank, do not improvise \u2014 escalate (proc_escalate_tool_data).", "restore": [], "capture": ["tool number", "pocket as-found vs sheet"]}, "handoff": null, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_escalate_tool_data", "kind": "escalate", "resolves": {"failure_mode": "fm_wrong_tool_data", "causes": ["cause_tool_length_missing_or_wrong"]}, "steps": [], "handoff": {"action": "Escalate to programmer (Denver): tool length/diameter is blank, wrong, or unverifiable (e.g. after a regrind). Operator must NOT invent a value; Denver measures and sets the data.", "escalate_to": "programmer", "capture_fields": ["tool number", "as-found data (blank/zero/value)", "preset sheet value if any", "regrind?"]}, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_escalate_library_unresolved", "kind": "escalate", "resolves": {"failure_mode": "fm_wrong_tool_library_loaded", "causes": ["cause_wrong_library_selected"]}, "steps": [], "handoff": {"action": "Escalate to programmer (Denver): library name matches the traveler but the named tool still won''t resolve (12550), or option-related wording appears. Operator does not create/edit tool entries.", "escalate_to": "programmer", "capture_fields": ["alarm number/text", "active library name", "tool name not resolving", "traveler library name"]}, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_escalate_zone", "kind": "escalate", "resolves": {"failure_mode": "fm_protection_zone_violation", "causes": ["cause_program_path_through_zone"]}, "steps": [], "handoff": {"action": "Escalate to programmer/maintenance: a protection/collision-zone alarm (10700-10704) \u2014 operator never overrides the zone. Program/setup is reviewed, retracted, and corrected by the owner.", "escalate_to": "programmer", "capture_fields": ["alarm number", "block", "operation", "machine mode"]}, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_escalate_safety", "kind": "escalate", "resolves": {"failure_mode": null, "causes": ["cause_si_safe_stop", "cause_si_not_safely_referenced", "cause_si_safe_limit_exceeded", "cause_si_checksum_acceptance"]}, "steps": [], "handoff": {"action": "STOP and escalate to maintenance: a Safety Integrated event \u2014 a 27xxx alarm (safe-stop / STOP A\u2013E, safe-referencing, safe-motion limit, or SI checksum/acceptance-test) or a 30xx E-stop. Never override, suppress, force-reset, widen a safe limit, or ''acknowledge away'' an acceptance-test alarm. Record the number and the event; investigate, do not clear-and-rerun. SI checksum / hardware-change alarms require a documented acceptance test by qualified personnel (AS9100).", "escalate_to": "maintenance", "capture_fields": ["alarm number/text", "SI sub-class (safe-stop / not-referenced / safe-motion / checksum-acceptance)", "preceding event (e.g. door, power-up, hardware/parameter change)", "machine state at stop"]}, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_defer_oem_alarm", "kind": "defer", "resolves": {"failure_mode": "fm_oem_magazine_fault", "causes": ["cause_oem_builder_alarm"]}, "steps": [], "handoff": {"action": "DEFER to DMG MORI: a 7xxxxx builder-band alarm has no Siemens meaning. Read back the on-control OEM text + clear symbol, record the number, and route to maintenance/DMG MORI docs. Never guess a cause or clearing action; never clear an unknown changer alarm with the spindle present.", "escalate_to": "maintenance", "capture_fields": ["7xxxxx number (as shown)", "OEM alarm text", "clear/cancel symbol", "what the changer was doing (e.g. arm didn''t retract)"]}, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_check_correct_coolant_concentration", "kind": "operator_fix", "resolves": {"failure_mode": "fm_coolant_concentration_low", "causes": ["cause_coolant_low_concentration"]}, "preliminary": {"safety": [{"type": "caution", "require": "nitrile gloves + eye protection; do not add water to concentrate (oil-in-last); do not add biocide without authorization", "ref": "warn_coolant_ppe"}], "tools": ["refractometer", "clean DI/RO water", "pre-mixed coolant at target %", "coolant log"], "skill": "operator", "est_min": 15}, "steps": ["stp_zero_refractometer", "stp_sample_and_read", "stp_correct_concentration", "stp_log_coolant"], "closeout": {"verify": "Re-measured concentration sits within the product PDS band after circulation; finish/films improving.", "on_verify_fail": "If concentration is in-band but finish/tool-life is still off, or smell/pH is sour, flag to Denver/lead \u2014 do not dose biocide.", "restore": [], "capture": ["Brix reading", "computed concentration %", "top-up amount", "log entry"]}, "handoff": null, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}, {"id": "proc_swap_insert", "kind": "operator_fix", "resolves": {"failure_mode": "fm_chatter", "causes": ["cause_worn_insert"]}, "preliminary": {"safety": [], "tools": ["fresh insert", "torx key"], "skill": "operator", "est_min": 5}, "steps": ["stp_swap_insert"], "closeout": {"verify": "Fresh insert fitted; a test pass gives a clean finish with no chatter.", "on_verify_fail": "reopen_diagnosis", "restore": ["return to AUTO"], "capture": ["which insert", "finish result"]}, "handoff": null, "source": {"type": "authored_seed", "source_ref": null, "sme": "op_vet", "soul_version": "draft", "approved_by": "pending"}}], "steps": [{"id": "stp_confirm_zone_clear", "action": "Confirm the work zone is clear and you know where the tool, spindle and B/C head/table are before any motion.", "component_ref": "cmp_machine_dmc80fd", "warnings_before": ["warn_known_position"], "media": null, "expected_result": "Operator confirms a clear zone and known machine position.", "complexity": "low", "skippable": false}, {"id": "stp_select_ref_mode", "action": "Select JOG / REF POINT mode.", "component_ref": "cmp_operator_panel", "media": null, "expected_result": "Control is in REF mode, ready to home axes.", "complexity": "low", "skippable": false}, {"id": "stp_reference_axes", "action": "Reference (home) each axis that is missing its symbol, traversing toward the reference point.", "component_ref": "cmp_linear_axes", "warnings_before": ["warn_known_position"], "media": null, "expected_result": "Each axis reaches its reference point; smooth even travel, no following-error alarm.", "complexity": "low", "skippable": false}, {"id": "stp_verify_ref_symbols", "action": "Confirm every axis now shows its reference symbol on the position page.", "component_ref": "cmp_offset_screens", "media": null, "expected_result": "All axes referenced.", "complexity": "low", "skippable": false}, {"id": "stp_open_work_offset", "action": "Open the Work Offset (zero offset) screen and identify the ACTIVE offset (e.g. G54).", "component_ref": "cmp_offset_screens", "media": null, "expected_result": "Active work offset and its part-zero values are displayed.", "complexity": "low", "skippable": false}, {"id": "stp_compare_g54_sheet", "action": "Compare the active G54 part zero against the traveler/setup-sheet datum (work offset = where the part is, not tool length). Do not nudge or widen anything.", "component_ref": "cmp_offset_screens", "warnings_before": ["warn_no_widen_limit"], "media": null, "expected_result": "Either G54 matches the sheet (escalate if still alarming) or a clear mismatch is found.", "complexity": "low", "skippable": false, "on_deviation": {"policy": "stop_and_escalate", "branch_ref": "proc_escalate_offset_programmer", "safe_state": "machine stopped, alarm uncleared", "capture": true}}, {"id": "stp_read_traveler_library", "action": "Read the program name, tool-library name, and fixture ID+revision verbatim from the traveler, then read the active program and loaded library name on the control. Compare character-for-character (case-sensitive, watch the revision suffix and look-alikes 0/O, 1/l).", "component_ref": "cmp_tool_library", "media": null, "expected_result": "A definite match or mismatch of names is established.", "complexity": "medium", "skippable": false}, {"id": "stp_load_correct_library", "action": "If the names do not agree, load the library named on the traveler for this fixture revision. Do NOT pick the closest-looking one.", "component_ref": "cmp_tool_library", "warnings_before": ["warn_no_closest_library"], "media": null, "expected_result": "The library named on the traveler is the active TO unit.", "complexity": "medium", "skippable": false, "on_deviation": {"policy": "stop_and_escalate", "branch_ref": "proc_escalate_orientation_programmer", "safe_state": "machine stopped", "capture": true}}, {"id": "stp_proveout_slow", "action": "Prove out from a sanctioned restart point in single block, feed/rapid override down with a hand on feed-hold; do not block-search into the middle of a transformed move.", "component_ref": "cmp_machine_dmc80fd", "warnings_before": ["warn_no_blocksearch_transform"], "media": null, "expected_result": "Program passes the previously faulting orientation block under controlled feed.", "complexity": "high", "skippable": false}, {"id": "stp_compare_pocket_sheet", "action": "On the Magazine list, find the called tool and compare its pocket against the setup-sheet assignment.", "component_ref": "cmp_tool_changer", "media": null, "expected_result": "Tool''s actual pocket vs assigned pocket is known.", "complexity": "low", "skippable": false}, {"id": "stp_return_tool_to_pocket", "action": "If the tool is in the wrong pocket, place it in the setup-sheet pocket (spindle stopped, changer at rest).", "component_ref": "cmp_tool_changer", "warnings_before": ["warn_known_position"], "media": null, "expected_result": "Called tool is in its assigned pocket; the program resolves it.", "complexity": "low", "skippable": false}, {"id": "stp_zero_refractometer", "action": "Zero the handheld refractometer on clean water (ideally the same DI/RO water used to mix coolant); wipe the prism dry.", "component_ref": "cmp_coolant_flood", "warnings_before": ["warn_coolant_ppe"], "media": null, "expected_result": "Refractometer reads zero on clean water (calibrated).", "complexity": "low", "skippable": false}, {"id": "stp_sample_and_read", "action": "Sample coolant from the delivery nozzle (not a stagnant sump corner), read Brix at the light/dark boundary, multiply by the product PDS factor to get concentration %.", "component_ref": "cmp_coolant_flood", "media": null, "expected_result": "A concentration % value, compared against the PDS band. A blurry boundary means unstable emulsion/tramp oil \u2014 clean up and re-sample.", "complexity": "medium", "skippable": false}, {"id": "stp_correct_concentration", "action": "If too low, add pre-mixed coolant (richer than target) following oil-in-last; if too high, add DI/RO water gradually. Make small changes; circulate before re-measuring.", "component_ref": "cmp_coolant_flood", "warnings_before": ["warn_coolant_ppe"], "media": null, "expected_result": "Concentration moves toward the PDS band; re-measure after circulation rather than chasing one reading.", "complexity": "medium", "skippable": false}, {"id": "stp_log_coolant", "action": "Record the concentration reading and top-up amount in the coolant log.", "component_ref": "cmp_coolant_flood", "media": null, "expected_result": "Coolant log updated (the trend matters more than any single reading).", "complexity": "low", "skippable": true}, {"id": "stp_swap_insert", "action": "Swap to a fresh insert (same grade/geometry), seat it properly, then run a test pass at the same feed and speed.", "component_ref": "cmp_spindle", "warnings_before": ["Spindle stopped and safe before reaching in"], "media": null, "expected_result": "Clean finish, no chatter marks", "complexity": "low", "skippable": false}], "warnings": [{"id": "warn_known_position", "text": "Never jog blind or cycle-start without knowing tool, spindle and 5-axis (B/C) positions and that the work zone is clear \u2014 especially after a stop, block-search, or offset change."}, {"id": "warn_no_widen_limit", "text": "Never widen a software/overtravel limit, and never eyeball/nudge an offset to make a move reach. A limit hit is a real position fault / machine-protection boundary, not a setting to relax (AS9100 change control)."}, {"id": "warn_no_closest_library", "text": "Never load the closest-looking tool library/recipe to keep moving. A name mismatch (case-sensitive, revision suffix) is a revision-control question for the setter/programmer/quality \u2014 not an operator edit. On titanium this is how a high-value forging gets scrapped."}, {"id": "warn_no_blocksearch_transform", "text": "Do not block-search into the middle of a 5-axis/transformed move to skip a stop \u2014 the assumed transformation/frame and rotary angles may not be re-established and the tool can plunge into the part or fixture."}, {"id": "warn_no_invent_tool_data", "text": "Never hand-type or make up a tool length/diameter to clear a stop \u2014 it is the fastest crash in the building. If the data is blank/wrong, escalate; the programmer measures and sets it."}, {"id": "warn_safety_no_override", "text": "Never override, suppress, or force-reset a Safety Integrated / 27xxx safe stop, and never bypass a door interlock or treat E-stop/RESET/mode-switch as a lockout. A safe stop is investigated, not cleared."}, {"id": "warn_oem_defer", "text": "Never invent a cause or clearing action for a 7xxxxx DMG MORI builder-band alarm; read back the on-control OEM text + clear symbol and defer to DMG MORI docs/maintenance."}, {"id": "warn_coolant_ppe", "text": "Wear nitrile gloves + eye protection with coolant; add concentrate to water (oil-in-last), never water to concentrate; never dose biocide without authorization; never run titanium cuts dry."}], "never_do": ["single-block", "don''t single-block", "skip the dry run", "skip proveout", "skip the proveout", "skip dry-run", "bump the offset", "bump a work offset", "nudge the offset", "eyeball the offset", "eyeball a offset", "eyeball an offset", "reset and re-run", "reset and rerun", "reset and run it again", "hit reset and re-run", "just reset and", "top up coolant by feel", "coolant by feel", "by feel", "closest library", "closest-looking", "grab the closest", "grab a library", "widen the limit", "widen the soft limit", "widen the software limit", "back off the limit", "back off the coolant", "change the angle and run", "tool length i think", "type in a tool length", "a length i think is right", "acknowledge the safety stop", "bypass the safety", "ignore the safety"]}'
    value_type: string
    description: ''
    selector:
    - env
    - knowledge_json
  - id: f33e39c1-60be-4314-aacc-99546a0c371e
    name: SUPABASE_URL
    value: https://kaxwnmsoxdrvgnlelafl.supabase.co
    value_type: string
    description: ''
    selector:
    - env
    - SUPABASE_URL
  - id: 5f237a13-2dd1-4095-b6c3-a614bda23a6c
    name: SUPABASE_SERVICE_KEY
    value: REPLACE_WITH_SERVICE_ROLE_KEY
    value_type: secret
    description: ''
    selector:
    - env
    - SUPABASE_SERVICE_KEY
  - description: ''
    id: 1294386d-d3e1-48ad-beae-ef9ace7565a3
    name: soul_phrasing
    selector:
    - env
    - soul_phrasing
    value: '## Who I am

      I''m Mary — a peer trainer for shop-floor operators. Not an assistant, not a chatbot. The operator-next-to-you who''s seen this fault before.


      ## How I talk

      Short. Direct. Operator vocabulary, not textbook. Median 2 sentences per reply, 4 max. No preamble, no recap. I commit to a guess ("most likely tool wear"), not "could be several things." If I''m unsure I say so plainly.

      I NEVER say "Great question", "I''d be happy to help", or "Let me explain". If I sound like Wikipedia, I''ve drifted — pull back to one sentence, peer voice.

      On Diagnose I ask ONE open question, then wait. I offer 2-3 named choices ONLY if the operator is stuck or vague — choices are a safety net, never my first move.


      ## What I won''t do

      I won''t fabricate specs, torque, RPM, offsets, or alarm codes. I only state numbers grounded in the facts given to me; otherwise "check your manual." Safety is never my call — if asked "is it safe?", the answer is stop the machine and get a human.


      ## Capture format

      When a fix is confirmed I save it in the operator''s words:

      Saving this — "[the fix in their words]." [one line on who sees it next.]'
    value_type: string
  - description: ''
    id: c5bc1015-fb9a-4847-943a-b028100e8e5d
    name: few_shot_examples
    selector:
    - env
    - few_shot_examples
    value: "## Few-Shot Examples (teach voice + the four-stage shape; NOT facts)\n\n### Ex1 — chatter\nOperator: Getting chatter on the OD finish, surface looks bad.\nMary: Sounds like chatter. Quick check first — anything change in the last hour? New tool, different material, coolant?\nOperator: Nothing changed.\nMary: Okay. Most likely tool wear. Pull the insert and look at the edge — what do you see?\nOperator: Chipped on one side.\nMary: That'll do it. Swap to a fresh insert, run a test pass at the same feed and speed.\nOperator: Test pass is clean, surface back to mirror.\nMary: Good. Saving this — \"OD chatter, chipped insert, fresh swap fixed it.\" Anyone hits this on the line, they'll see it.\n\n### Ex2 — press feed\nOperator: Press is throwing parts off the back, burrs on one edge.\nMary: Sounds like the strip's drifting. First — anything change in the last hour? New coil, lubricant, anyone touch the feed?\nOperator: New coil this morning, same spec sheet.\nMary: Could still be the coil — same sheet doesn't mean same edge. Pop the feed: is the strip square in the rollers or pulled to one side?\nOperator: Pulled left.\nMary: That'll do it. Loosen the side guide, recenter, snug it back, run a few hits.\nOperator: Clean now, no burr.\nMary: Saving — \"burrs after coil change, strip pulled left, recentered the side guide and it cleared.\"\n\n### Ex3 — vague start, choices as safety net\nOperator: Line keeps jamming.\nMary: Okay. Sanity first — anything different in the last hour? New film roll, product run, line speed?\nOperator: Not really.\nMary: Where's the jam — wrapper, conveyor, or case packer?\nOperator: Hard to say, it just keeps stopping.\nMary: Let me give you a few options, pick what fits:\n — Wrapper (film bunching)\n — Conveyor (product hung up)\n — Case packer (backing up at the end)\nOperator: Wrapper, film bunching.\nMary: Most likely film tension or a crooked roll. Watch it feed — tracking straight, or wandering?\n\n### Ex4 — outside what I know\nOperator: Alarm on the indexer, code E-732.\nMary: That one's outside what I know — I don't have the alarm table for that unit and I won't guess at E-732.\nOperator: Damn.\nMary: Pull the operator's manual or the OEM service site for the alarm list. If power-cycling's on the table, that's not my call — get the line lead first. Want me to write it up so you can hand it off cleanly?\n\n### Ex5 — out of scope\nOperator: What's the weather tomorrow?\nMary: Not my thing. I'm here for the machine you're running. Something off on the line?"
    value_type: string
  conversation_variables:
  - id: 7e6c6c1d-7f73-4e16-b18a-989a952fb6b8
    name: stage
    value_type: string
    value: INTAKE
    description: Resume pointer INTAKE|MATCH|DIAGNOSE|RESOLVE|VERIFY|DONE
    selector:
    - conversation
    - stage
  - id: 68cc14d8-b156-4fc2-965d-7dc4451568a5
    name: case
    value_type: string
    value: '{}'
    description: The case entity, JSON string
    selector:
    - conversation
    - case
  - id: 2a3c4d71-787b-4ad0-bdf3-4bcc2b2c5c85
    name: matched_fm
    value_type: string
    value: ''
    description: id of the matched failure mode
    selector:
    - conversation
    - matched_fm
  - id: 3cb12109-dc55-4722-be33-b52d0690b165
    name: candidate_causes
    value_type: string
    value: '[]'
    description: ranked cause ids, JSON string
    selector:
    - conversation
    - candidate_causes
  - id: 0995df79-6fb5-4bf2-ace6-f9ab3ce18ca9
    name: ruled_out
    value_type: string
    value: '[]'
    description: cleared cause ids, JSON string
    selector:
    - conversation
    - ruled_out
  - id: 9da200ef-a2ee-4f15-bc48-f4d0256bbfdd
    name: current_cause
    value_type: string
    value: ''
    description: ''
    selector:
    - conversation
    - current_cause
  - id: cafb4bb6-91ac-428a-b982-41a26a7b58f1
    name: current_check
    value_type: string
    value: ''
    description: ''
    selector:
    - conversation
    - current_check
  - id: af71073c-e386-4cf7-904d-466ef936d41e
    name: current_step_idx
    value_type: number
    value: 0
    description: ''
    selector:
    - conversation
    - current_step_idx
  - id: eccda2af-43ba-46f1-8f7e-b47b307fb1a9
    name: attempts
    value_type: number
    value: 0
    description: ''
    selector:
    - conversation
    - attempts
  - id: de763600-2fda-426e-afa3-a67217be52e0
    name: attempts_cap
    value_type: number
    value: 4
    description: ''
    selector:
    - conversation
    - attempts_cap
  - description: ''
    id: 211a9bb8-df30-4560-8f33-025437d9e21d
    name: await_kind
    selector:
    - conversation
    - await_kind
    value: ''
    value_type: string
  - description: ''
    id: 8f78ca19-5c26-45fd-b550-bf0298039dca
    name: await_options
    selector:
    - conversation
    - await_options
    value: '[]'
    value_type: string
  - description: ''
    id: 3263c5c4-098c-41b6-afcf-87084810af8b
    name: clarify_attempts
    selector:
    - conversation
    - clarify_attempts
    value: 0
    value_type: number
  features:
    file_upload:
      enabled: false
    opening_statement: What's the machine doing? Tell me what you see or the alarm on the screen.
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - id: interpret-source-guard-target
      source: interpret
      target: guard
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
    - id: guard-source-matchscore-target
      source: guard
      target: matchscore
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
    - id: matchscore-source-engine-target
      source: matchscore
      target: engine
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
    - id: engine-source-render-target
      source: engine
      target: render
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
    - id: answer-source-persist-target
      source: answer
      target: persist
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: assigner
    - id: render-source-envelope-target
      source: render
      target: envelope
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
    - id: envelope-source-answer-target
      source: envelope
      target: answer
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
    - id: start-source-kb_get-target
      source: start
      target: kb_get
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
    - id: kb_get-source-kb_pick-target
      source: kb_get
      target: kb_pick
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
    - id: kb_pick-source-interpret-target
      source: kb_pick
      target: interpret
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
    - id: persist-source-rt_write-target
      source: persist
      target: rt_write
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: http-request
    - id: persist-source-vault_fields-target
      source: persist
      target: vault_fields
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: code
    - id: vault_fields-source-vault_write-target
      source: vault_fields
      target: vault_write
      sourceHandle: source
      targetHandle: target
      type: custom
      zIndex: 0
      selected: false
      data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
    nodes:
    - id: start
      position:
        x: 0
        y: 300
      data:
        type: start
        title: Start
        variables:
        - variable: machine_id
          label: machine_id
          type: text-input
          required: false
          max_length: 256
          default: 'DMC80FD-01'
          options: []
        - variable: operator_id
          label: operator_id
          type: text-input
          required: false
          max_length: 256
          default: 'op-test'
          options: []
        - variable: flags
          label: flags
          type: paragraph
          required: false
          default: ''
          options: []
        selected: false
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      positionAbsolute:
        x: 0
        y: 300
    - id: interpret
      position:
        x: 240
        y: 300
      data:
        type: llm
        title: N1 Interpret
        desc: words -> one typed signal (LLM phrases, never decides)
        model:
          provider: langgenius/openai/openai
          name: gpt-5.4
          mode: chat
          completion_params:
            temperature: 0
        prompt_template:
        - id: 0567e333-d10b-47e3-95a5-b8e66af3e0de
          role: system
          text: 'You convert ONE operator message into ONE typed signal for a deterministic diagnostic engine. You never diagnose, never name a cause, never propose a fix (typing slice of the SOUL). The current open question Mary asked is: {{#conversation.current_check#}}. If the message answers THAT question -> kind=check_answer, put the answer in value. If it confirms a fix held/didn''t hold -> confirmation (value yes/no). If it raises a NEW symptom Mary did not ask about -> new_unprompted_info. If it asks whether something is safe, or proposes disabling/bypassing a protection or a shortcut -> safety_question. If it describes how they fixed it -> closeout_info. If unrelated to this machine''s faults -> out_of_scope. If the message clearly describes a machine problem, fault, alarm, or unexpected behavior -> symptom. If it is a greeting, filler, bare acknowledgement with no diagnostic content, or you cannot classify it -> other. Use empty string for value when not applicable. A short acknowledgement that a step is finished (''done'', ''ok'', ''next'', ''finished'', ''got it'', ''yep'') is kind=confirmation, NEVER out_of_scope. Current stage: {{#conversation.stage#}}. If we''re mid-procedure (DIAGNOSE/RESOLVE/VERIFY), a short reply is almost always check_answer or confirmation; reserve out_of_scope for genuinely unrelated topics (weather, payroll, jokes). ANSWER NORMALIZATION — the question Mary just asked expects await_kind=''{{#conversation.await_kind#}}'' with allowed answers {{#conversation.await_options#}}. If await_kind is ''check'' or ''sanity'': set kind=check_answer and set value to the SINGLE allowed answer that best matches what the operator said — copy it VERBATIM from the allowed list. If await_kind is ''verify'' or ''closeout'': set kind=confirmation and set value to ''yes'' if they indicate it worked / they agree, or ''no'' if not. If await_kind is empty, classify normally. Also output `confidence` (0-1, how sure of the kind) and `alts` (close alternative kinds, possibly empty).'
        - id: d702188a-9758-45ac-9040-7ca703597e0f
          role: user
          text: '{{#sys.query#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          enabled: false
        memory:
          window:
            enabled: true
            size: 6
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
        selected: false
        structured_output_enabled: true
        structured_output:
          schema:
            type: object
            properties:
              kind:
                type: string
                enum:
                - symptom
                - check_answer
                - confirmation
                - safety_question
                - out_of_scope
                - closeout_info
                - new_unprompted_info
                - other
                description: the typed signal kind the engine routes on; use 'other' for greetings, filler, or unclassifiable messages
              text:
                type: string
                description: verbatim or lightly cleaned operator message
              value:
                type: string
                description: 'answer payload: yes|no|a number|empty'
              confidence:
                type: number
                description: 0..1 how sure you are of kind (ordinal; ok to approximate)
              alts:
                type: array
                items:
                  type: string
                description: close alternative kinds, if any
            required:
            - kind
            - text
            - value
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      positionAbsolute:
        x: 240
        y: 300
    - id: guard
      position:
        x: 720
        y: 300
      data:
        type: code
        title: N2 GuardPre
        desc: deterministic, fail-closed. Decision-SOUL lives here (never endorse / bypass / bait).
        code_language: python3
        variables:
        - variable: signal
          value_selector:
          - interpret
          - structured_output
          value_type: object
        - variable: knowledge_json
          value_selector:
          - kb_pick
          - knowledge
          value_type: string
        outputs:
          guard_decision:
            type: string
            children: null
          guard_reason:
            type: string
            children: null
        code: "import json\ndef main(signal, knowledge_json):\n    K = json.loads(knowledge_json or \"{}\")\n    if isinstance(signal, str):\n        signal = json.loads(signal or \"{}\")\n    never = []\n    for fm in K.get(\"failure_modes\", []):\n        if fm.get(\"anti_pattern\"):\n            never.append(fm[\"anti_pattern\"].lower())\n    for w in K.get(\"warnings\", []):\n        never.append(w.get(\"text\", \"\").lower())\n    never += [p.lower() for p in K.get(\"never_do\", [])]\n    text = (signal.get(\"text\") or \"\").lower()\n    kind = signal.get(\"kind\")\n    BYPASS = [\"disable\", \"bypass\", \"override\", \"defeat\", \"jumper\",\n              \"tape over\", \"ignore the alarm\", \"force it\", \"run it anyway\"]\n    if kind == \"safety_question\" or any(b in text for b in BYPASS):\n        return {\"guard_decision\": \"STOP\",\n                \"guard_reason\": \"That touches a safety protection — I can't help bypass it. Let's get a person.\"}\n    for nd in never:\n        if nd and nd in text:\n            return {\"guard_decision\": \"STOP\",\n                    \"guard_reason\": \"That shortcut isn't a safe, endorsed move. I won't confirm it.\"}\n    return {\"guard_decision\": \"PROCEED\", \"guard_reason\": \"\"}\n"
        selected: false
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      positionAbsolute:
        x: 720
        y: 300
    - id: matchscore
      position:
        x: 960
        y: 300
      data:
        type: llm
        title: N6 MatchScore
        desc: bounded — emits symptom-fit scores only, never picks the FM
        model:
          provider: langgenius/openai/openai
          name: gpt-5.4
          mode: chat
          completion_params:
            temperature: 0
        prompt_template:
        - id: f82192df-51be-4e1b-b003-7f5c496791d2
          role: system
          text: 'Score how well the operator''s symptom matches each failure mode''s WORDING (observations + operator_phrases). Return one score 0..1 per failure mode. Do NOT pick a winner, do NOT use alarm codes (the engine matches those exactly), do NOT diagnose. If unsure, score low. The failure modes (id, title, observations, operator_phrases) are in this pack: {{#kb_pick.knowledge#}} Treat any term listed in a failure mode''s `aliases` as equivalent to its canonical wording when scoring (shop slang resolves here).'
        - id: 7f532143-5597-403b-85b5-db821ea1910f
          role: user
          text: 'Operator''s reported symptom is in this case record (field "reported"): {{#conversation.case#}}\nLatest message: {{#interpret.structured_output.text#}}\nScore each failure mode against the REPORTED symptom.'
        context:
          enabled: false
          variable_selector: []
        vision:
          enabled: false
        selected: false
        structured_output_enabled: true
        structured_output:
          schema:
            type: object
            properties:
              scores:
                type: array
                description: one entry per failure mode
                items:
                  type: object
                  properties:
                    fm_id:
                      type: string
                      description: the failure_mode id
                    score:
                      type: number
                      description: symptom-wording similarity 0..1
                  required:
                  - fm_id
                  - score
            required:
            - scores
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      positionAbsolute:
        x: 960
        y: 300
    - id: engine
      position:
        x: 1440
        y: 300
      data:
        type: code
        title: N8 Engine (Match·Diagnose·Resolve·Verify)
        desc: the deterministic state machine. Decision-SOUL lives here.
        code_language: python3
        variables:
        - variable: signal
          value_selector:
          - interpret
          - structured_output
          value_type: object
        - variable: match_scores_obj
          value_selector:
          - matchscore
          - structured_output
          value_type: object
        - variable: guard_decision
          value_selector:
          - guard
          - guard_decision
          value_type: string
        - variable: guard_reason
          value_selector:
          - guard
          - guard_reason
          value_type: string
        - variable: knowledge_json
          value_selector:
          - kb_pick
          - knowledge
          value_type: string
        - variable: stage
          value_selector:
          - conversation
          - stage
          value_type: string
        - variable: case
          value_selector:
          - conversation
          - case
          value_type: string
        - variable: matched_fm
          value_selector:
          - conversation
          - matched_fm
          value_type: string
        - variable: candidate_causes
          value_selector:
          - conversation
          - candidate_causes
          value_type: string
        - variable: ruled_out
          value_selector:
          - conversation
          - ruled_out
          value_type: string
        - variable: current_cause
          value_selector:
          - conversation
          - current_cause
          value_type: string
        - variable: current_check
          value_selector:
          - conversation
          - current_check
          value_type: string
        - variable: current_step_idx
          value_selector:
          - conversation
          - current_step_idx
          value_type: string
        - variable: attempts
          value_selector:
          - conversation
          - attempts
          value_type: string
        - variable: attempts_cap
          value_selector:
          - conversation
          - attempts_cap
          value_type: string
        - variable: flags
          value_selector:
          - start
          - flags
          value_type: string
        - variable: clarify_attempts
          value_selector:
          - conversation
          - clarify_attempts
          value_type: number
        outputs:
          move_type:
            type: string
            children: null
          render_brief:
            type: string
            children: null
          allowed_facts:
            type: string
            children: null
          terminal:
            type: string
            children: null
          out_stage:
            type: string
            children: null
          out_case:
            type: string
            children: null
          out_matched_fm:
            type: string
            children: null
          out_candidate_causes:
            type: string
            children: null
          out_ruled_out:
            type: string
            children: null
          out_current_cause:
            type: string
            children: null
          out_current_check:
            type: string
            children: null
          out_current_step_idx:
            type: number
            children: null
          out_attempts:
            type: number
            children: null
          out_await_kind:
            type: string
            children: null
          out_await_options:
            type: string
            children: null
          out_status:
            type: string
            children: null
          out_options:
            type: string
            children: null
          out_capture:
            type: string
            children: null
          out_trace:
            type: string
            children: null
          out_clarify_attempts:
            type: number
            children: null
          out_modality:
            type: string
            children: null
          out_default:
            type: string
            children: null
        code: "import json, re\n\n_SOUL_OBS_WEIGHT = {\"audio\": 0.5}  # decision-SOUL: audio cues only when reliable\nNONE_OF_THESE = \"__none_of_these__\"  # deterministic clarify escape: always appended to clarify MCQs, never LLM-authored\n_ELICIT_EMPTY = (\"no\", \"nope\", \"nothing\", \"nothing changed\", \"no change\", \"nothing different\", \"none\", \"dunno\", \"dont know\", \"do not know\", \"no idea\", \"not sure\", \"unsure\", \"idk\", \"not really\", \"cant say\", \"cannot say\", \"cant tell\", \"hard to say\", \"maybe\")  # elicit: answer adds no new info -> counts toward tapped-out\n\ndef main(signal, match_scores_obj, guard_decision, guard_reason, knowledge_json,\n         stage, case, matched_fm, candidate_causes, ruled_out,\n         current_cause, current_check, current_step_idx, attempts, attempts_cap, flags=\"\", clarify_attempts=0, elicit_attempts=0):\n    K = json.loads(knowledge_json or \"{}\")\n    if isinstance(signal, str):\n        signal = json.loads(signal or \"{}\")\n    if isinstance(match_scores_obj, str):\n        match_scores_obj = json.loads(match_scores_obj or \"{}\")\n    scores_list = (match_scores_obj or {}).get(\"scores\", []) if isinstance(match_scores_obj, dict) else []\n    match_scores = {s.get(\"fm_id\"): s.get(\"score\", 0) for s in scores_list}\n    case = json.loads(case or \"{}\")\n    candidate_causes = json.loads(candidate_causes or \"[]\")\n    ruled_out = json.loads(ruled_out or \"[]\")\n    FMs = {f[\"id\"]: f for f in K.get(\"failure_modes\", [])}\n    CHECKS = {c[\"id\"]: c for c in K.get(\"checks\", [])}\n    PROCS = {p[\"id\"]: p for p in K.get(\"procedures\", [])}\n    STEPS = {s[\"id\"]: s for s in K.get(\"steps\", [])}\n    DECLINE_FLOOR = 0.45\n    TIE_BAND = 0.10\n    CLARIFY_CAP = 2\n    ELICIT_CAP = 3\n    try:\n        clarify_attempts = int(clarify_attempts or 0)\n    except Exception:\n        clarify_attempts = 0\n    try:\n        elicit_attempts = int(elicit_attempts or 0)\n    except Exception:\n        elicit_attempts = 0\n    kind = signal.get(\"kind\")\n    value = signal.get(\"value\")\n\n    # honor frontend lifecycle flags (eval/frontend send these alongside the message)\n    try:\n        _flags = json.loads(flags or \"{}\") if isinstance(flags, str) else (flags or {})\n    except Exception:\n        _flags = {}\n    if _flags.get(\"confirmed\"):\n        kind = \"confirmation\"; value = \"yes\"\n        signal[\"kind\"] = \"confirmation\"; signal[\"value\"] = \"yes\"\n    elif _flags.get(\"closeout\"):\n        kind = \"closeout_info\"; signal[\"kind\"] = \"closeout_info\"\n\n    trace = {\"in_kind\": kind, \"in_value\": value, \"guard\": guard_decision, \"stage_in\": stage}\n\n    if guard_decision in (\"STOP\", \"LOTO_REQUIRED\"):\n        mt = \"STOP\" if guard_decision == \"STOP\" else \"LOTO\"\n        return _out(locals(), {\"type\": mt, \"payload\": {\"reason\": guard_reason}, \"allowed_facts\": {}}, terminal=False)\n\n    if stage == \"DIAGNOSE\" and not matched_fm:\n        stage = \"MATCH\"\n    if stage == \"RESOLVE\" and not current_cause:\n        stage = \"DIAGNOSE\"\n    if not case:\n        case = {\"id\": None, \"machine\": K.get(\"machine_id\"), \"status\": \"open\",\n                \"checks\": [], \"attempts\": [], \"matched_fm\": None,\n                \"confirmed_cause\": None, \"$soul_version\": K.get(\"soul_version\")}\n\n    # ---- CLARIFY escape: operator tapped the deterministic \"none of these\" option ----\n    # Every clarify MCQ carries an appended NONE_OF_THESE option (see _await). Catch its\n    # selection HERE, before the other/symptom handlers can swallow it: a rejection used to\n    # classify as other (re-ask, no burn) or symptom (back to SANITY, no burn), so the cap\n    # never tripped and DECLINE was unreachable. Now every rejection burns a clarify slot and\n    # at the cap we DECLINE (terminal). Scoped to CLARIFY; meaningless elsewhere.\n    if stage == \"CLARIFY\" and (value or \"\").strip() == NONE_OF_THESE:\n        clarify_attempts += 1\n        trace[\"reason\"] = \"none_of_these\"\n        if clarify_attempts >= CLARIFY_CAP:\n            case.pop(\"_clarify\", None)\n            trace[\"reason\"] = \"clarify_exhausted\"\n            return _out(locals(), {\"type\": \"DECLINE\", \"payload\": {\"reason\": \"operator rejected all candidates\"}, \"allowed_facts\": {}}, terminal=True, status=\"unresolved\")\n        # below cap: stay open and collect more info — a real symptom next turn re-matches (-> DIAGNOSE)\n        _no = [o[\"title\"] for o in case.get(\"_clarify\", [])]\n        return _out(locals(), {\"type\": \"ASK_CLARIFY\", \"payload\": {\"ask\": \"None of those? Tell me more about what the machine is actually doing.\", \"options\": _no}, \"allowed_facts\": {\"options\": _no}}, terminal=False)\n\n    if kind == \"out_of_scope\":\n        if stage in (\"INTAKE\", \"MATCH\", \"\"):\n            return _out(locals(), {\"type\": \"REDIRECT\", \"payload\": {}, \"allowed_facts\": {}}, terminal=False)\n        # mid-flow (SANITY/DIAGNOSE/RESOLVE/VERIFY/CLOSEOUT): a bland reply like \"done\"/\"ok\"\n        # is a continuation, not an off-topic. Reclassify and let the stage handle it.\n        kind = \"confirmation\"\n        signal[\"kind\"] = \"confirmation\"\n\n    # ---- OTHER: greeting/filler — do not capture reported, advance nothing ----\n    if kind == \"other\":\n        if stage in (\"INTAKE\", \"MATCH\", \"\"):\n            return _out(locals(), {\"type\": \"INTAKE\", \"payload\": {}, \"allowed_facts\": {}}, terminal=False)\n        # SANITY: re-ask the sanity question; don't append to sanity_notes\n        if stage == \"SANITY\":\n            return _out(locals(), {\"type\": \"SANITY\", \"payload\": {\"symptom\": case.get(\"reported\", \"\"), \"reask\": True},\n                        \"allowed_facts\": {\"symptom\": case.get(\"reported\", \"\")}}, terminal=False)\n        # ELICIT: re-ask the probe; filler must not append to reported\n        if stage == \"ELICIT\":\n            _ec = case.get(\"_elicit\", {}) or {}\n            return _out(locals(), {\"type\": \"ELICIT\", \"payload\": {\"candidates\": _ec.get(\"candidates\", []), \"round\": _ec.get(\"round\", 1), \"reask\": True}, \"allowed_facts\": {}}, terminal=False)\n        # RESOLVE: re-give the current step without advancing current_step_idx\n        if stage == \"RESOLVE\" and case.get(\"procedure\") and case[\"procedure\"] in PROCS:\n            _rproc = PROCS[case[\"procedure\"]]\n            _rstep_ids = _rproc.get(\"steps\", [])\n            if current_step_idx < len(_rstep_ids):\n                _rst = STEPS[_rstep_ids[current_step_idx]]\n                return _out(locals(), {\"type\": \"GIVE_STEP\",\n                            \"payload\": {\"step\": _rst[\"action\"], \"expected\": _rst.get(\"expected_result\"), \"reask\": True},\n                            \"allowed_facts\": {\"step\": _rst[\"action\"], \"expected\": _rst.get(\"expected_result\"), \"warnings\": _rst.get(\"warnings_before\", [])}}, terminal=False)\n        # CLOSEOUT: re-ask without appending to resolution_note\n        if stage == \"CLOSEOUT\":\n            return _out(locals(), {\"type\": \"CLOSEOUT\",\n                        \"payload\": {\"fix\": case.get(\"resolution_note\", \"\"), \"reask\": True},\n                        \"allowed_facts\": {\"fix\": case.get(\"resolution_note\", \"\")}}, terminal=False)\n        # CLARIFY: re-ask without burning a clarify_attempts slot\n        if stage == \"CLARIFY\":\n            _ropts = case.get(\"_clarify\", [])\n            _ro = [o[\"title\"] for o in _ropts]\n            return _out(locals(), {\"type\": \"ASK_CLARIFY\",\n                        \"payload\": {\"ask\": \"Which of these is it closest to?\", \"options\": _ro, \"reask\": True},\n                        \"allowed_facts\": {\"options\": _ro}}, terminal=False)\n        # DIAGNOSE/VERIFY: fall through — both handle non-signal kinds natively\n        # (VERIFY re-asks if kind not in confirmation/check_answer;\n        #  DIAGNOSE re-picks current check without a check_answer entry)\n\n    # ---- CLOSEOUT scribe mode: operator returns with what fixed it ----\n    if kind == \"closeout_info\" and stage != \"CLOSEOUT\":\n        case[\"resolution_note\"] = (signal.get(\"text\") or \"\").strip()\n        stage = \"CLOSEOUT\"\n        return _out(locals(), {\"type\": \"CLOSEOUT\", \"payload\": {\"fix\": case[\"resolution_note\"]},\n                    \"allowed_facts\": {\"fix\": case[\"resolution_note\"]}}, terminal=False)\n    if stage == \"CLOSEOUT\":\n        _cv = (value or signal.get(\"text\") or \"\").lower()\n        if re.search(r\"\\b(confirm|yes|yeah|yep|correct|right|save|good|ok|okay)\\b\", _cv) and not re.search(r\"\\b(no|not|wrong|nope|isn)\\b\", _cv):\n            return _out(locals(), {\"type\": \"RESOLVED\", \"payload\": {}, \"allowed_facts\": {}}, terminal=True, status=\"resolved\")\n        if re.search(r\"\\b(no|not|wrong|nope)\\b\", _cv):\n            return _out(locals(), {\"type\": \"CLOSEOUT\", \"payload\": {\"fix\": case.get(\"resolution_note\", \"\")},\n                        \"allowed_facts\": {\"fix\": case.get(\"resolution_note\", \"\")}}, terminal=False)\n        case[\"resolution_note\"] = (case.get(\"resolution_note\", \"\") + \" \" + (signal.get(\"text\") or \"\")).strip()\n        return _out(locals(), {\"type\": \"CLOSEOUT\", \"payload\": {\"fix\": case[\"resolution_note\"]},\n                    \"allowed_facts\": {\"fix\": case[\"resolution_note\"]}}, terminal=False)\n\n    # ---- SANITY beat ----\n    if stage == \"SANITY\":\n        _sa = (signal.get(\"text\") or \"\").strip()\n        case.setdefault(\"sanity_notes\", []).append(_sa)\n        # Fold symptom detail the operator volunteers at the sanity beat into reported so MATCH\n        # runs on the fuller complaint (Option A). Append verbatim -- the operator's exact words,\n        # no paraphrase -- unless the answer is a bare no-change reply (adds nothing). sanity_notes\n        # keeps the full answer regardless: append-to-reported, NOT move, and a strict subset of the\n        # future change_note (B) split -- antecedents like 'new tool' stay recoverable there.\n        _norm = re.sub(r\"[^a-z]+\", \" \", _sa.lower()).strip()\n        if _sa and _norm not in (\"no\", \"nope\", \"nothing\", \"nothing changed\", \"no change\", \"nothing different\"):\n            case[\"reported\"] = (case.get(\"reported\", \"\") + \" \" + _sa).strip()\n        stage = \"MATCH\"   # fall through into MATCH this turn\n    elif stage == \"ELICIT\":\n        # Operator answering a low-score probe. Elicit answers ARE symptom detail, so accumulate\n        # them into reported (the same (A) path) and re-score MATCH on the fuller complaint --\n        # reuse reported, do NOT create a new field. This is the crux: MATCH must climb on the\n        # accumulation, not on the latest message alone. The STOP signal is behavioral, not the\n        # (noisy) score: count rounds where the operator added nothing new; any real substance\n        # resets the counter. A no-new-info reply is a negation/filler or empty-after-normalize.\n        _ea = (signal.get(\"text\") or \"\").strip()\n        _enorm = re.sub(r\"[^a-z]+\", \" \", _ea.lower()).strip()\n        if _ea and _enorm and _enorm not in _ELICIT_EMPTY:\n            case[\"reported\"] = (case.get(\"reported\", \"\") + \" \" + _ea).strip()\n            case[\"_elicit_empty\"] = 0\n        else:\n            case[\"_elicit_empty\"] = int(case.get(\"_elicit_empty\", 0) or 0) + 1\n        stage = \"MATCH\"   # re-score on the accumulation\n    elif kind in (\"symptom\", \"new_unprompted_info\"):\n        case[\"reported\"] = (case.get(\"reported\", \"\") + \" \" + (signal.get(\"text\") or \"\")).strip()\n        if not matched_fm:\n            stage = \"SANITY\"\n            return _out(locals(), {\"type\": \"SANITY\", \"payload\": {\"symptom\": signal.get(\"text\")},\n                        \"allowed_facts\": {\"symptom\": signal.get(\"text\")}}, terminal=False)\n        else:\n            stage = \"MATCH\"\n\n    # ---- CLARIFY answer (we asked which fault last turn) ----\n    if stage == \"CLARIFY\":\n        opts = case.get(\"_clarify\", [])\n        ans = _best_answer(value, [o[\"title\"] for o in opts]) if opts else \"\"\n        pick = next((o for o in opts if o[\"title\"] == ans), None)\n        if pick:\n            matched_fm = pick[\"id\"]; case[\"matched_fm\"] = matched_fm\n            candidate_causes = _rank(FMs[matched_fm]); ruled_out = []\n            clarify_attempts = 0; case.pop(\"_clarify\", None)\n            stage = \"DIAGNOSE\"\n            trace[\"reason\"] = \"clarify_resolved:\" + matched_fm\n            # fall through into DIAGNOSE below\n        else:\n            clarify_attempts += 1\n            if clarify_attempts >= CLARIFY_CAP:\n                return _out(locals(), {\"type\": \"DECLINE\", \"payload\": {\"reason\": \"could not disambiguate\"}, \"allowed_facts\": {}}, terminal=True, status=\"unresolved\")\n            _o = [o[\"title\"] for o in opts]\n            return _out(locals(), {\"type\": \"ASK_CLARIFY\", \"payload\": {\"ask\": \"Which of these is it closest to?\", \"options\": _o}, \"allowed_facts\": {\"options\": _o}}, terminal=False)\n\n    # ---- MATCH (failure-mode level) ----\n    if stage == \"MATCH\":\n        scored = []\n        for fid, fm in FMs.items():\n            sig = fm[\"symptom_signature\"]\n            codes = set(re.findall(r\"\\b\\d{4,6}\\b\", (case.get(\"reported\", \"\") or \"\")))\n            alarm = bool(set(sig.get(\"alarm_codes\", [])) & codes)\n            sem = float(match_scores.get(fid, 0.0))\n            sc = 0.99 if alarm else sem\n            scored.append((sc, fm.get(\"case_count\", 0), fid, alarm))\n        scored.sort(reverse=True)\n        # #9 relative decision: alarm exact OR a clear leader >= floor -> MATCH;\n        # clear-but-low -> DECLINE; bunched (near-tie) -> clarify zone (#1).\n        top = scored[0] if scored else None\n        second = scored[1][0] if len(scored) > 1 else 0.0\n        sep = (top[0] - second) if top else 0.0\n        bunched = bool(top) and (not top[3]) and len(scored) > 1 and sep <= TIE_BAND\n        _topdump = [[round(s[0], 3), s[2]] for s in scored[:3]]\n        if not top:\n            trace[\"match\"] = {\"top\": _topdump, \"chosen\": None, \"sep\": round(sep, 3), \"floor\": DECLINE_FLOOR}\n            trace[\"reason\"] = \"no_candidates\"\n            return _out(locals(), {\"type\": \"DECLINE\", \"payload\": {\"reason\": \"no good match\"}, \"allowed_facts\": {}}, terminal=True, status=\"unresolved\")\n        if not bunched and top[0] < DECLINE_FLOOR:\n            # ELICIT (NOT the bunched-plausible CLARIFY): the description is too thin to match any\n            # known fault. Probe for more signal instead of declining -- the operator's answers\n            # accumulate in reported (ELICIT stage above) and MATCH re-scores the whole each turn.\n            # The STOP decision is BEHAVIORAL, not score-based (scores are too noisy round-to-round):\n            # DECLINE when the operator has run dry -- two no-new-info rounds in a row (_elicit_empty)\n            # -- OR the hard backstop ELICIT_CAP. The score does one thing only: clear the floor ->\n            # MATCH. Carry the top-2 candidates so Render can probe their discriminators, sharper each round.\n            _empties = int(case.get(\"_elicit_empty\", 0) or 0)\n            if elicit_attempts >= ELICIT_CAP or _empties >= 2:\n                case.pop(\"_elicit\", None); case.pop(\"_elicit_empty\", None)\n                trace[\"match\"] = {\"top\": _topdump, \"chosen\": None, \"sep\": round(sep, 3), \"floor\": DECLINE_FLOOR}\n                trace[\"reason\"] = \"elicit_exhausted\" if elicit_attempts >= ELICIT_CAP else \"elicit_tapped_out\"\n                return _out(locals(), {\"type\": \"DECLINE\", \"payload\": {\"reason\": \"no good match\"}, \"allowed_facts\": {}}, terminal=True, status=\"unresolved\")\n            _ecands = [{\"id\": s[2], \"title\": FMs[s[2]][\"title\"]} for s in scored[:2]]\n            elicit_attempts += 1\n            case[\"_elicit\"] = {\"candidates\": _ecands, \"round\": elicit_attempts}\n            stage = \"ELICIT\"\n            trace[\"match\"] = {\"top\": _topdump, \"chosen\": None, \"sep\": round(sep, 3), \"elicit_round\": elicit_attempts}\n            trace[\"reason\"] = \"elicit\"\n            return _out(locals(), {\"type\": \"ELICIT\", \"payload\": {\"candidates\": _ecands, \"round\": elicit_attempts}, \"allowed_facts\": {}}, terminal=False)\n        if bunched:\n            case.pop(\"_elicit\", None); case.pop(\"_elicit_empty\", None)\n            band = [s for s in scored if (top[0] - s[0]) <= TIE_BAND and not s[3]]\n            band.sort(key=lambda s: s[1], reverse=True)  # order options by fault-frequency\n            cl = [{\"id\": s[2], \"title\": FMs[s[2]][\"title\"]} for s in band[:3]]\n            trace[\"match\"] = {\"top\": _topdump, \"chosen\": None, \"sep\": round(sep, 3), \"bunched\": True}\n            if clarify_attempts < CLARIFY_CAP:\n                case[\"_clarify\"] = cl\n                clarify_attempts += 1\n                stage = \"CLARIFY\"\n                trace[\"reason\"] = \"ask_clarify\"\n                _o = [o[\"title\"] for o in cl]\n                return _out(locals(), {\"type\": \"ASK_CLARIFY\", \"payload\": {\"ask\": \"Which of these is it closest to?\", \"options\": _o}, \"allowed_facts\": {\"options\": _o}}, terminal=False)\n            trace[\"reason\"] = \"clarify_cap_decline\"\n            return _out(locals(), {\"type\": \"DECLINE\", \"payload\": {\"reason\": \"ambiguous - candidates too close\"}, \"allowed_facts\": {}}, terminal=True, status=\"unresolved\")\n        trace[\"match\"] = {\"top\": _topdump, \"chosen\": top[2], \"alarm_hit\": bool(top[3]), \"sep\": round(sep, 3)}\n        matched_fm = top[2]\n        case[\"matched_fm\"] = matched_fm\n        candidate_causes = _rank(FMs[matched_fm])\n        ruled_out = []\n        clarify_attempts = 0\n        elicit_attempts = 0\n        case.pop(\"_elicit\", None); case.pop(\"_elicit_empty\", None)\n        stage = \"DIAGNOSE\"\n\n    # ---- DIAGNOSE (cause level) ----\n    if stage == \"DIAGNOSE\":\n        if kind == \"check_answer\" and current_check:\n            chk = CHECKS[current_check]\n            disc = chk.get(\"discriminates\", {})\n            ans = _best_answer(value, chk.get(\"answers\", []))\n            case.setdefault(\"checks\", []).append({\"ref\": chk[\"id\"], \"ask_snapshot\": chk[\"ask\"], \"answer\": value})\n            # route the answer to whichever CANDIDATE cause this check discriminates\n            hit = [cid for cid, dv in disc.items() if dv == ans and cid not in ruled_out and cid in candidate_causes]\n            if hit:\n                current_cause = hit[0]\n                trace[\"reason\"] = \"cause_confirmed:\" + str(hit[0])\n                case[\"confirmed_cause\"] = current_cause\n                proc = _proc(FMs[matched_fm], current_cause, PROCS)\n                if proc is None:\n                    return _out(locals(), _esc(matched_fm, ruled_out), terminal=True, status=\"unresolved\")\n                case[\"procedure\"] = proc[\"id\"]\n                current_step_idx = 0\n                stage = \"RESOLVE\"\n            elif current_cause:\n                ruled_out = ruled_out + [current_cause]\n                current_cause = None\n        if stage == \"DIAGNOSE\":\n            order = _danger(FMs[matched_fm], candidate_causes, ruled_out)\n            current_cause = next((c for c in order if c not in ruled_out), None)\n            if current_cause is None:\n                return _out(locals(), _esc(matched_fm, ruled_out), terminal=True, status=\"unresolved\")\n            chk = _nextchk(FMs[matched_fm], current_cause, CHECKS, [c[\"ref\"] for c in case.get(\"checks\", [])])\n            if chk is None:\n                return _out(locals(), _esc(matched_fm, ruled_out), terminal=True, status=\"unresolved\")\n            current_check = chk[\"id\"]\n            trace[\"diagnose\"] = {\"candidates\": candidate_causes, \"ruled_out\": ruled_out, \"cause\": current_cause, \"check\": current_check}\n            return _out(locals(), {\"type\": \"ASK_CHECK\",\n                        \"payload\": {\"ask\": chk[\"ask\"], \"answers\": chk.get(\"answers\", [])},\n                        \"allowed_facts\": {\"ask\": chk[\"ask\"], \"observation_type\": chk.get(\"observation_type\")}}, terminal=False)\n\n    # ---- RESOLVE (one step per turn) ----\n    if stage == \"RESOLVE\":\n        proc = PROCS[case[\"procedure\"]]\n        step_ids = proc.get(\"steps\", [])\n        if proc.get(\"kind\") in (\"escalate\", \"defer\"):\n            return _out(locals(), _hand(proc), terminal=True, status=\"unresolved\")\n        if current_step_idx >= len(step_ids):\n            stage = \"VERIFY\"\n            return _out(locals(), {\"type\": \"ASK_CHECK\", \"payload\": {\"ask\": proc[\"closeout\"][\"verify\"]}, \"allowed_facts\": {\"ask\": proc[\"closeout\"][\"verify\"]}}, terminal=False)\n        else:\n            st = STEPS[step_ids[current_step_idx]]\n            current_step_idx = current_step_idx + 1\n            return _out(locals(), {\"type\": \"GIVE_STEP\",\n                        \"payload\": {\"step\": st[\"action\"], \"expected\": st.get(\"expected_result\")},\n                        \"allowed_facts\": {\"step\": st[\"action\"], \"expected\": st.get(\"expected_result\"), \"warnings\": st.get(\"warnings_before\", [])}}, terminal=False)\n\n    # ---- VERIFY (close the loop; capped back-edge) ----\n    if stage == \"VERIFY\":\n        proc = PROCS[case[\"procedure\"]]\n        if kind not in (\"confirmation\", \"check_answer\"):\n            return _out(locals(), {\"type\": \"ASK_CHECK\", \"payload\": {\"ask\": proc[\"closeout\"][\"verify\"]},\n                        \"allowed_facts\": {\"ask\": proc[\"closeout\"][\"verify\"]}}, terminal=False)\n        _v = (value or signal.get(\"text\") or \"\").lower()\n        _neg = re.search(r\"\\b(no|nope|not|isn|wasn|doesn|didn|won|fail|fails|failed|off|mismatch|mismatched|differ|differs|different|wrong|worse|still)\\b\", _v)\n        _pos = re.search(r\"\\b(yes|yeah|yep|yup|ok|okay|good|done|clear|cleared|fixed|resolved|match|matches|matching|aligned|agree|agrees|within|runs|ran|past|passed|passes|holds|held|correct|confirm|clean|mirror)\\b\", _v)\n        if not _pos and not _neg:\n            return _out(locals(), {\"type\": \"ASK_CHECK\", \"payload\": {\"ask\": proc[\"closeout\"][\"verify\"]},\n                        \"allowed_facts\": {\"ask\": proc[\"closeout\"][\"verify\"]}}, terminal=False)\n        if _pos and not _neg:\n            case[\"status\"] = \"resolved\"\n            case[\"outcome\"] = {\"fixed\": True}\n            return _out(locals(), {\"type\": \"RESOLVED\", \"payload\": {}, \"allowed_facts\": {}}, terminal=True, status=\"resolved\")\n        attempts = attempts + 1\n        case.setdefault(\"attempts\", []).append({\"cause\": current_cause, \"procedure\": case.get(\"procedure\")})\n        ruled_out = ruled_out + [current_cause]\n        current_cause = None\n        case[\"confirmed_cause\"] = None\n        case[\"procedure\"] = None\n        if attempts >= attempts_cap:\n            return _out(locals(), _esc(matched_fm, ruled_out), terminal=True, status=\"unresolved\")\n        stage = \"DIAGNOSE\"\n        order = _danger(FMs[matched_fm], candidate_causes, ruled_out)\n        current_cause = next((c for c in order if c not in ruled_out), None)\n        if current_cause is None:\n            return _out(locals(), _esc(matched_fm, ruled_out), terminal=True, status=\"unresolved\")\n        chk = _nextchk(FMs[matched_fm], current_cause, CHECKS, [c[\"ref\"] for c in case.get(\"checks\", [])])\n        current_check = chk[\"id\"] if chk else None\n        return _out(locals(), {\"type\": \"ASK_CHECK\",\n                    \"payload\": ({\"ask\": chk[\"ask\"], \"answers\": chk.get(\"answers\", [])} if chk else {}),\n                    \"allowed_facts\": ({\"ask\": chk[\"ask\"], \"observation_type\": chk.get(\"observation_type\")} if chk else {})}, terminal=False)\n\n    return _out(locals(), _esc(matched_fm, ruled_out), terminal=True, status=\"unresolved\")\n\ndef _best_answer(value, answers):\n    import re as _re\n    v = set(_re.findall(r\"[a-z0-9]+\", (value or \"\").lower()))\n    best, bestscore = (value or \"\"), 0\n    for a in (answers or []):\n        aw = set(_re.findall(r\"[a-z0-9]+\", a.lower()))\n        sc = len(v & aw)\n        if sc > bestscore:\n            bestscore, best = sc, a\n    return best\n\ndef _rank(fm):\n    return [c[\"id\"] for c in sorted(fm[\"causes\"], key=lambda c: c.get(\"seed_prior\", 0), reverse=True)]\n\ndef _danger(fm, order, ro):\n    cs = {c[\"id\"]: c for c in fm[\"causes\"]}\n    d = [c for c in order if c not in ro and (fm.get(\"guardrail\") or cs[c].get(\"action_level\") == \"L3\" or cs[c].get(\"escalate_to\", \"none\") != \"none\")]\n    r = [c for c in order if c not in ro and c not in d]\n    return d + r\n\ndef _nextchk(fm, cid, CHECKS, asked):\n    cause = next(c for c in fm[\"causes\"] if c[\"id\"] == cid)\n    prob = cause.get(\"seed_prior\", 1)\n    cand = [CHECKS[c] for c in cause.get(\"confirm_checks\", []) if c in CHECKS and c not in asked]\n    if not cand:\n        return None\n    cand.sort(key=lambda ch: prob * _SOUL_OBS_WEIGHT.get(ch.get(\"observation_type\"), 1.0) / max(ch.get(\"cost\", {}).get(\"time_min\", 1), 0.1), reverse=True)\n    return cand[0]\n\ndef _proc(fm, cid, PROCS):\n    cause = next(c for c in fm[\"causes\"] if c[\"id\"] == cid)\n    for p in cause.get(\"procedures\", []):\n        if p in PROCS:\n            return PROCS[p]\n    return None\n\ndef _esc(fm, ro):\n    return {\"type\": \"ESCALATE\", \"payload\": {\"matched_fm\": fm, \"ruled_out\": ro}, \"allowed_facts\": {\"ruled_out\": ro}}\n\ndef _hand(proc):\n    h = proc.get(\"handoff\") or {}\n    return {\"type\": \"ESCALATE\", \"payload\": {\"escalate_to\": h.get(\"escalate_to\")}, \"allowed_facts\": {\"escalate_to\": h.get(\"escalate_to\")}}\n\ndef _brief(m):\n    t = m[\"type\"]; p = m.get(\"payload\", {})\n    if t == \"ASK_CHECK\":\n        return \"ASK: \" + str(p.get(\"ask\", \"\"))\n    if t == \"RESOLVED\":\n        return \"RESOLVED: confirm the fix held and close warmly.\"\n    if t == \"ESCALATE\":\n        return \"ESCALATE: hand off to a person; state what was ruled out: \" + str(p.get(\"ruled_out\", \"\"))\n    if t == \"DECLINE\":\n        return \"DECLINE: no good match; offer the worry-list or escalation.\"\n    if t == \"STOP\":\n        return \"STOP: \" + str(p.get(\"reason\", \"\"))\n    if t == \"LOTO\":\n        return \"LOTO: \" + str(p.get(\"reason\", \"\"))\n    _reask = \"Didn't catch that — could you clarify? \" if p.get(\"reask\") else \"\"\n    if t == \"ELICIT\":\n        _ec = p.get(\"candidates\", []); _lead = _ec[0][\"title\"] if _ec else \"\"\n        if int(p.get(\"round\", 1)) <= 1:\n            return _reask + \"ELICIT: the description is too thin to match a known fault. Ask ONE open question for more detail -- what the machine is doing across finish, dimensions, noise, smell, or any alarm number/message. Free text, NO option menu, do NOT name or suggest a cause.\"\n        return _reask + \"ELICIT: still unclear. Ask ONE sharper open question probing the tell-tale signs of the most likely area (\" + _lead + \") -- e.g. its smell, surface finish, sound, or readings -- without asserting that diagnosis. Free text, no menu, and do NOT repeat your previous question.\"\n    if t == \"SANITY\": return _reask + \"SANITY: echo the symptom in a few words, then ask if anything changed in the last hour (new tool, material, program, coolant, anyone touch it). ONE question, no cause hint.\"\n    if t == \"GIVE_STEP\": return _reask + \"STEP: \" + str(p.get(\"step\", \"\")) + (\" | expected: \" + str(p.get(\"expected\")) if p.get(\"expected\") else \"\")\n    if t == \"CLOSEOUT\": return _reask + \"CLOSEOUT (scribe): summarize the operator's fix in THEIR words, then ask 'Confirm to save?'. Do not re-diagnose, no technical follow-ups.\"\n    if t == \"ASK_CLARIFY\": return _reask + \"CLARIFY: ask which of these it's closest to - \" + \", \".join(p.get(\"options\", []))\n    if t == \"INTAKE\":\n        return \"INTAKE: greet briefly and ask what's wrong with the machine. Do not assume or suggest causes.\"\n    return \"OUT_OF_SCOPE: gently redirect to this machine's fault.\"\n\ndef _status(move):\n    t = move[\"type\"]; p = move.get(\"payload\", {})\n    if t == \"ASK_CLARIFY\": return \"diagnosing\"\n    if t == \"RESOLVED\": return \"resolved\"\n    if t in (\"ESCALATE\", \"DECLINE\", \"STOP\"): return \"escalated\"\n    if t == \"SANITY\": return \"sanity\"\n    if t == \"ELICIT\": return \"sanity\"\n    if t == \"GIVE_STEP\": return \"resolving\"\n    if t == \"CLOSEOUT\": return \"verifying\"\n    if t == \"ASK_CHECK\": return \"diagnosing\" if p.get(\"answers\") else \"verifying\"\n    if t == \"LOTO\": return \"verifying\"\n    return \"diagnosing\"\n\ndef _await(move):\n    t = move[\"type\"]; p = move.get(\"payload\", {})\n    if t == \"ASK_CLARIFY\":\n        # deterministic escape, always last, always the same value (see NONE_OF_THESE)\n        return \"clarify\", list(p.get(\"options\", [])) + [NONE_OF_THESE]\n    if t == \"ASK_CHECK\":\n        if p.get(\"answers\"):\n            return \"check\", p.get(\"answers\")\n        return \"verify\", [\"yes\", \"no\"]\n    if t == \"SANITY\":\n        return \"sanity\", [\"nothing changed\", \"something changed\"]\n    if t == \"ELICIT\":\n        return \"elicit\", []\n    if t == \"CLOSEOUT\":\n        return \"closeout\", [\"confirm\", \"not right\"]\n    return \"\", []\n\ndef _modality(move):\n    t = move[\"type\"]; p = move.get(\"payload\", {})\n    if t == \"SANITY\": return \"yes_no\", \"No\"\n    if t == \"ELICIT\": return \"free_text\", \"\"\n    if t == \"CLOSEOUT\": return \"yes_no\", \"\"\n    if t == \"ASK_CLARIFY\": return \"mcq\", \"\"\n    if t == \"ASK_CHECK\": return (\"mcq\", \"\") if p.get(\"answers\") else (\"yes_no\", \"\")\n    return \"free_text\", \"\"\n\ndef _disp_options(move):\n    ak, ao = _await(move)\n    if move[\"type\"] == \"SANITY\": return [\"No\", \"Yes\"]\n    if ak in (\"check\", \"verify\", \"closeout\", \"clarify\"): return ao\n    return []\n\ndef _out(L, move, terminal, status=None):\n    case = L[\"case\"]\n    if status:\n        case[\"status\"] = status\n    return {\n        \"move_type\": move[\"type\"],\n        \"render_brief\": _brief(move),\n        \"allowed_facts\": json.dumps(move.get(\"allowed_facts\", {})),\n        \"terminal\": \"true\" if terminal else \"false\",\n        \"out_stage\": L[\"stage\"],\n        \"out_case\": json.dumps(case),\n        \"out_matched_fm\": L[\"matched_fm\"] or \"\",\n        \"out_candidate_causes\": json.dumps(L[\"candidate_causes\"] or []),\n        \"out_ruled_out\": json.dumps(L[\"ruled_out\"] or []),\n        \"out_current_cause\": L[\"current_cause\"] or \"\",\n        \"out_current_check\": L[\"current_check\"] or \"\",\n        \"out_current_step_idx\": int(L[\"current_step_idx\"] or 0),\n        \"out_attempts\": int(L[\"attempts\"] or 0),\n        \"out_clarify_attempts\": int(L.get(\"clarify_attempts\") or 0),\n        \"out_elicit_attempts\": int(L.get(\"elicit_attempts\") or 0),\n        \"out_await_kind\": _await(move)[0],\n        \"out_await_options\": json.dumps(_await(move)[1]),\n        \"out_trace\": json.dumps({**(L.get(\"trace\") or {}), \"move\": move[\"type\"], \"stage_out\": L[\"stage\"], \"terminal\": bool(terminal)}, ensure_ascii=False),\n        \"out_status\": _status(move),\n        \"out_options\": json.dumps(_disp_options(move)),\n        \"out_modality\": _modality(move)[0],\n        \"out_default\": _modality(move)[1],\n        \"out_capture\": (\n            (case.get(\"resolution_note\") or (\"resolved via \" + (case.get(\"procedure\") or \"\") + \"; cause \" + (case.get(\"confirmed_cause\") or \"\")))\n            if move[\"type\"] == \"RESOLVED\" else\n            (\"handoff: \" + (case.get(\"matched_fm\") or \"no-match\") + \"; ruled out: \" + \", \".join(L[\"ruled_out\"] or []))\n            if move[\"type\"] in (\"ESCALATE\", \"DECLINE\") else \"\"\n        ),\n    }\n"
        selected: false
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      positionAbsolute:
        x: 1440
        y: 300
    - id: render
      position:
        x: 1680
        y: 300
      data:
        type: llm
        title: N12 Render (phrasing-SOUL only)
        desc: voices exactly one move; states only allowed_facts; decides nothing
        model:
          provider: langgenius/openai/openai
          name: gpt-5.4
          mode: chat
          completion_params:
            temperature: 0.3
        prompt_template:
        - id: 3911f572-2de6-4892-87bd-25895b8b7e58
          role: system
          text: '{{#env.soul_phrasing#}}\n\n{{#env.few_shot_examples#}}\n\n---\nYou are voicing ONE move the engine already chose — you decide nothing. Voice exactly that move in Mary''s voice (above). You may ONLY state facts in allowed_facts; never invent a number, offset, feed/speed, torque, angle, program line, or alarm code. Median 2 sentences, 4 max. One move per turn.'
        - id: 41f32056-a6d4-41b1-a421-fa4d3221c3eb
          role: user
          text: 'Move: {{#engine.render_brief#}}\nAllowed facts (the only facts you may state): {{#engine.allowed_facts#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          enabled: false
        selected: false
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      positionAbsolute:
        x: 1680
        y: 300
    - id: persist
      position:
        x: 2640
        y: 300
      data:
        type: assigner
        title: N13 Persist state
        version: '2'
        items:
        - variable_selector:
          - conversation
          - stage
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_stage
        - variable_selector:
          - conversation
          - case
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_case
        - variable_selector:
          - conversation
          - matched_fm
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_matched_fm
        - variable_selector:
          - conversation
          - candidate_causes
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_candidate_causes
        - variable_selector:
          - conversation
          - ruled_out
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_ruled_out
        - variable_selector:
          - conversation
          - current_cause
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_current_cause
        - variable_selector:
          - conversation
          - current_check
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_current_check
        - variable_selector:
          - conversation
          - current_step_idx
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_current_step_idx
        - variable_selector:
          - conversation
          - attempts
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_attempts
        - variable_selector:
          - conversation
          - await_kind
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_await_kind
        - variable_selector:
          - conversation
          - await_options
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_await_options
        - variable_selector:
          - conversation
          - clarify_attempts
          input_type: variable
          operation: over-write
          value:
          - engine
          - out_clarify_attempts
        selected: false
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      positionAbsolute:
        x: 2640
        y: 300
    - id: answer
      position:
        x: 2400
        y: 300
      data:
        type: answer
        title: Answer
        answer: '{{#envelope.envelope#}}'
        selected: false
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      positionAbsolute:
        x: 2400
        y: 300
    - id: envelope
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      position:
        x: 2160
        y: 300
      positionAbsolute:
        x: 2160
        y: 300
      data:
        type: code
        title: N14 Envelope
        desc: build {message,status,options,capture} JSON
        selected: false
        code_language: python3
        variables:
        - variable: message
          value_selector:
          - render
          - text
          value_type: string
        - variable: status
          value_selector:
          - engine
          - out_status
          value_type: string
        - variable: options_json
          value_selector:
          - engine
          - out_options
          value_type: string
        - variable: capture
          value_selector:
          - engine
          - out_capture
          value_type: string
        - variable: trace
          value_selector:
          - engine
          - out_trace
          value_type: string
        - variable: allowed_facts
          value_selector:
          - engine
          - allowed_facts
          value_type: string
        - variable: modality
          value_selector:
          - engine
          - out_modality
          value_type: string
        - variable: default
          value_selector:
          - engine
          - out_default
          value_type: string
        outputs:
          envelope:
            type: string
            children: null
        code: "import json, re\ndef main(message, status, options_json, capture, trace=\"\", allowed_facts=\"{}\", modality=\"\", default=\"\"):\n    try:\n        opts = json.loads(options_json or \"[]\")\n    except Exception:\n        opts = []\n    # #5 fact-whitelist: machine values in the message must trace to allowed_facts\n    try:\n        af_text = json.dumps(json.loads(allowed_facts or \"{}\"))\n    except Exception:\n        af_text = allowed_facts or \"\"\n    msg = message or \"\"\n    # machine-value patterns: N-lines, G/M codes, decimals (offsets/feeds), 4-6 digit codes\n    cands = re.findall(r\"\\bN\\d{1,5}\\b|\\b[GM]\\d{1,3}\\b|-?\\d+\\.\\d+|\\b\\d{4,6}\\b\", msg)\n    blocked = next((t for t in cands if t not in af_text), None)\n    if blocked is not None:\n        msg = \"Let me double-check that against the manual before I give you a number - one sec.\"\n    env = {\"message\": msg, \"status\": status or \"\", \"options\": opts, \"capture\": capture or \"\", \"modality\": modality or \"free_text\"}\n    if default:\n        env[\"default\"] = default\n    if trace:\n        try:\n            tr = json.loads(trace)\n        except Exception:\n            tr = trace\n        if isinstance(tr, dict) and blocked is not None:\n            tr[\"_gate\"] = \"blocked:\" + str(blocked)\n        env[\"_trace\"] = tr\n    return {\"envelope\": json.dumps(env, ensure_ascii=False)}\n"
    - id: kb_get
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      position:
        x: 0
        y: 40
      positionAbsolute:
        x: 0
        y: 40
      data:
        type: http-request
        selected: false
        method: get
        url: '{{#env.SUPABASE_URL#}}/storage/v1/object/mary-memory/knowledge/{{#start.machine_id#}}.json'
        authorization:
          type: no-auth
          config: null
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}'
        params: ''
        body:
          type: none
          data:
          - type: text
            value: ''
        variables: []
        ssl_verify: true
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 100
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
        title: N0 Read knowledge
        desc: GET living knowledge.json (404 -> fall back to seed)
    - id: kb_pick
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      position:
        x: 0
        y: 460
      positionAbsolute:
        x: 0
        y: 460
      data:
        type: code
        selected: false
        title: N0b Pick knowledge
        desc: live doc if present+valid else env seed
        code_language: python3
        variables:
        - variable: body
          value_selector:
          - kb_get
          - body
          value_type: string
        - variable: status
          value_selector:
          - kb_get
          - status_code
          value_type: number
        - variable: seed
          value_selector:
          - env
          - knowledge_json
          value_type: string
        outputs:
          knowledge:
            type: string
            children: null
        code: "import json\ndef main(body, status, seed):\n    try:\n        s = int(status)\n    except Exception:\n        s = 0\n    if s == 200 and body:\n        try:\n            d = json.loads(body)\n            if isinstance(d, dict) and d.get('failure_modes') is not None:\n                return {'knowledge': body}\n        except Exception:\n            pass\n    return {'knowledge': seed or '{}'}\n"
    - id: rt_write
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      position:
        x: 2880
        y: 300
      positionAbsolute:
        x: 2880
        y: 300
      data:
        type: http-request
        selected: false
        method: post
        url: '{{#env.SUPABASE_URL#}}/storage/v1/object/mary-memory/runtime/{{#start.machine_id#}}/{{#sys.conversation_id#}}.json'
        authorization:
          type: no-auth
          config: null
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json

          x-upsert:true'
        params: ''
        body:
          type: raw-text
          data:
          - type: text
            value: '{{#engine.out_case#}}'
        variables: []
        ssl_verify: true
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 100
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
        title: N15 Write runtime (scaffold+update)
        desc: upsert the incremental case every turn
    - id: vault_fields
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      position:
        x: 3120
        y: 500
      positionAbsolute:
        x: 3120
        y: 500
      data:
        type: code
        title: N16a vault_fields (extract flat vars)
        desc: parse out_case JSON and expose status/matched_fm/resolution_note as flat outputs for N16
        selected: false
        code_language: python3
        variables:
        - variable: out_case
          value_selector:
          - engine
          - out_case
          value_type: string
        outputs:
          v_status:
            type: string
            children: null
          v_fault_type:
            type: string
            children: null
          v_resolution:
            type: string
            children: null
        code: "import json\ndef main(out_case):\n    case = json.loads(out_case or '{}') if isinstance(out_case, str) else (out_case or {})\n    resolution = (case.get('resolution_note') or '').strip()\n    if not resolution and case.get('procedure'):\n        resolution = 'resolved via ' + case['procedure'] + '; cause ' + (case.get('confirmed_cause') or '')\n    return {\n        'v_status':     case.get('status', ''),\n        'v_fault_type': case.get('matched_fm', ''),\n        'v_resolution': resolution,\n    }\n"
    - id: vault_write
      type: custom
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 120
      position:
        x: 3360
        y: 500
      positionAbsolute:
        x: 3360
        y: 500
      data:
        type: http-request
        selected: false
        method: post
        url: '{{#env.SUPABASE_URL#}}/rest/v1/vault'
        authorization:
          type: no-auth
          config: null
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json

          Prefer:resolution=merge-duplicates'
        params: ''
        body:
          type: raw-text
          data:
          - type: text
            value: '{"conversation_id":"{{#sys.conversation_id#}}","machine_id":"{{#start.machine_id#}}","operator_id":"{{#start.operator_id#}}","status":"{{#vault_fields.v_status#}}","fault_type":"{{#vault_fields.v_fault_type#}}","resolution":"{{#vault_fields.v_resolution#}}"}'
        variables: []
        ssl_verify: true
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 100
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
        title: N16 Write vault (index row)
        desc: upsert conversation index row every turn; merge-duplicates preserves original created_at
